<div class="selection__cover">
    <!-- <img src="./assets/images/selection_cover.png" class="selection__cover--img"/> -->
    <img src="./assets/images/projects/projects.svg" class="imgtosvg selection__cover--img"/>
    <?xml version="1.0" encoding="UTF-8"?>
    <svg class="selection__cover--svg" id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1595.85 845">
        <polygon class="selection__cover--block" data-block="A" data-href="selectfloor.html" points="1100.2 236.28 1138.85 191.65 1220.83 228.61 1221.16 234.28 1223.14 231.44 1254.19 248.75 1289.41 261.66 1387.45 294.52 1371.64 346.48 1349.37 373.09 1336.85 356.43 1276.5 364.4 1151.94 321.84 1155.89 293.99 1095.89 272.47 1100.2 236.28"/>
    </svg>
    <div class="selection__cover--text">
        <span class="selection__cover--number"></span>
        ბლოკი
    </div>
</div>