<div class="conditions">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h1 class="conditions__title section-title">
                    ბინის ჩაბარების პირობები
                </h1>
                <div class="conditions__body">
                    <p>ცნობილი ფაქტია, რომ გვერდის წაკითხვად შიგთავსს შეუძლია მკითხველის ყურადღება მიიზიდოს და დიზაინის აღქმაში ხელი შეუშალოს. Lorem Ipsum-ის გამოყენებით ვღებულობთ იმაზე მეტ-ნაკლებად სწორი გადანაწილების ტექსტს, ვიდრე ერთიდაიგივე </p>
                    <br />
                    <p>ცნობილი ფაქტია, რომ გვერდის წაკითხვად შიგთავსს შეუძლია მკითხველის ყურადღება მიიზიდოს და დიზაინის აღქმაში ხელი შეუშალოს. Lorem Ipsum-ის გამოყენებით ვღებულობთ იმაზე მეტ-ნაკლებად სწორი გადანაწილების ტექსტს, ვიდრე ერთიდაიგივე </p>
                </div>
            </div>
            <div class="col d-flex align-items-center justify-content-end">
                <figure class="conditions__cover">
                    <img src="./assets/images/conditions_cover.png" class="conditions__cover--img"/>
                </figure>
            </div>
        </div>
    </div>
</div>