<div class="projects detail">
    <div class="detail__desc">
        <div class="container">
            <h1 class="detail__desc--title section-title">
                Pillar Park Dighomi
            </h1>
            <div class="row">
                <div class="col-6">
                    <div class="detail__desc--text">
                        <p>
                            ცნობილი ფაქტია, რომ გვერდის წაკითხვად შიგთავსს შეუძლია მკითხველის ყურადღება მიიზიდოს და დიზაინის აღქმაში ხელი შეუშალოს. Lorem Ipsum-ის გამოყენებით ვღებულობთ იმაზე მეტ-ნაკლებად სწორი გადანაწილების ტექსტს, ვიდრე ერთიდაიგივე 
                        </p>
                        <br />
                        <p>
                            ცნობილი ფაქტია, რომ გვერდის წაკითხვად შიგთავსს შეუძლია მკითხველის ყურადღება მიიზიდოს და დიზაინის აღქმაში ხელი შეუშალოს. Lorem Ipsum-ის გამოყენები
                        </p>
                    </div>
                </div>
                <div class="col-6">
                    <div class="detail__desc--text">   
                        <p>
                            ცნობილი ფაქტია, რომ გვერდის წაკითხვად შიგთავსს შეუძლია მკითხველის ყურადღება მიიზიდოს და დიზაინის აღქმაში ხელი შეუშალოს. Lorem Ipsum-ის გამოყენებით ვღებულობთ იმაზე მეტ-ნაკლებად სწორი გადანაწილების ტექსტს, ვიდრე ერთიდაიგივე 
                        </p>
                        <br />
                        <p>
                            ცნობილი ფაქტია, რომ გვერდის წაკითხვად შიგთავსს შეუძლია მკითხველის ყურადღება მიიზიდოს და დიზაინის აღქმაში ხელი შეუშალოს. Lorem Ipsum-ის გამოყენები
                        </p>    
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>