<div class="projects detail">
    <div class="detail__gallery">
        <div class="container pl-container">
            <div class="section-header d-flex justify-content-between align-items-center">
                <h1 class="section-title">
                    პროექტები
                </h1>
                <div class="d-flex align-items-center">
                    <div class="d-none d-md-flex align-items-center">
                        <button class="section-slider--btn prev projects__slider--prev owl--prev d-flex align-items-center justify-content-center">
                            <img src="./assets/images/slider/prev.svg" />
                        </button>
                        <button class="section-slider--btn next projects__slider--next owl--next d-flex align-items-center justify-content-center">
                            <img src="./assets/images/slider/next.svg" />
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="container pl-container">
            <div class="detail__gallery--slider-out">
                <div class="detail__gallery--slider-in">
                    <div class="detail__gallery--slider owl-carousel">
                        <div class="detail__gallery--item">
                            <div class="detail__gallery--cover">
                                <img src="./assets/images/slider/slider1.png" class="detail__gallery--img"/>
                            </div>
                        </div><!-- item end -->
                        <div class="detail__gallery--item">
                            <div class="detail__gallery--cover">
                                <img src="./assets/images/slider/slider1.png" class="detail__gallery--img"/>
                            </div>
                        </div><!-- item end -->
                        <div class="detail__gallery--item">
                            <div class="detail__gallery--cover">
                                <img src="./assets/images/slider/slider1.png" class="detail__gallery--img"/>
                            </div>
                        </div><!-- item end -->
                        <div class="detail__gallery--item">
                            <div class="detail__gallery--cover">
                                <img src="./assets/images/slider/slider1.png" class="detail__gallery--img"/>
                            </div>
                        </div><!-- item end -->
                        <div class="detail__gallery--item">
                            <div class="detail__gallery--cover">
                                <img src="./assets/images/slider/slider1.png" class="detail__gallery--img"/>
                            </div>
                        </div><!-- item end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>