<div class="slider projects">
    <div class="slider__container detail">
        <div class="slider__content owl-carousel">
            <div class="slider__item">
                <img src="./assets/images/slider/slider1.png" class="slider__item--cover"/>
            </div><!-- item end -->
        </div>
        <div class="container d-flex justify-content-md-end">
            <div class="slider__dots owl-dots d-flex align-items-center justify-content-center">
                <div class="slider__dots--item active">
                    <img src="./assets/images/slider/slider1.png" class="slider__dots--img"/>
                </div>
                <div class="slider__dots--item">
                    <img src="./assets/images/slider/slider1.png" class="slider__dots--img"/>
                </div>
            </div>
        </div>
        <div class="detail__slider--body">
            <div class="container">
                <div class="detail__slider--title">
                    Pillar Park Dighomi
                    <div class="detail__slider--status">
                        სტატუსი: 20%
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>