<div class="slider projects">
    <div class="slider__container detail">
        <div class="slider__item" style="position: fixed; top: 0;">
            <img src="./assets/images/slider/slider1.png" class="slider__item--cover"/>
        </div><!-- item end -->
        <div class="detail__slider--body">
            <div class="container pl-container">
                <div class="detail__slider--title">
                    Pillar Park Dighomi
                    <div class="detail__slider--status">
                        სტატუსი: 20%
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>