.expert {
    padding: 120px 0;
    background-color: #fff;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

    @media (max-width: 767px) {
        padding: 48px 0;
    }

    &__form {
        border: 1px solid rgba(#3F4141, 0.1);
        border-radius: 100px;
        padding: 8px 0;
        box-shadow: 0px 6px 16px 0px rgba(#3F4141, 0.04);
        
        @media (max-width: 767px) {
            border-radius: 16px;
            padding: 0 20px;
        }
        
        &--item {
            width: calc(100% / 5);
            padding: 0 24px;
            border-right: 1px solid rgba(#3F4141,.05);
            
            @media (max-width: 767px) {
                width: calc(100% / 2);
                padding: 20px 0;
                border-right: none;
            }
        }
        
        &--item:nth-of-type(1),
        &--item:nth-of-type(2) {
            @media (max-width: 767px) {
                border-bottom: 1px solid rgba(#3F4141,.05);
            }
        }

        &--item:nth-of-type(2),
        &--item:nth-of-type(4) {
            select {
                @media (max-width: 767px) {
                    border-left: 1px solid rgba(#3F4141,.05);
                    padding-left: 24px;
                }
            }
        }

        &--item:nth-of-type(4) {
            border-right: none;
        }

        &--item:nth-of-type(1),
        &--item:nth-of-type(3) {
            @media (max-width: 767px) {
                padding-right: 24px;
            }
        }

        &--select {
            width: 100%;
            padding: 19px 0;
            border: none;
            outline: none;
            cursor: pointer;
            @include fontStyle(
                rgba(#3F4141, .6),
                14px,
                400,
                16px
            );

            @media (max-width: 767px){
                padding: 9px 0;
            }
        }

        &--btn {
            width: calc(100% / 5);
            background-color: #789868;
            border-radius: 100px;
            padding: 19px 0;
            border: none;
            outline: none;
            cursor: pointer;
            margin-right: 8px;
            @include fontStyle(
                #fff,
                14px,
                700,
                16px
            );

            img {
                margin-right: 8px;
            }

            @media (max-width: 767px) {
                width: 100%;
                margin-bottom: 20px;
            }
        }
    }
}