.group {
    background-color: #fff;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    
    &__body {
        padding: 148px 0;

        @media (max-width: 991px) {
            padding: 45px 0;
        }

        &--title {
            margin-bottom: 24px;
        }

        &--desc {
            margin-bottom: 24px;
            color: #3F4141;
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;

            p {
                margin: 0;
            }
        }
    }

    &__footer {
        &--item {
            margin: 8px;
        }
        
        &--count {
            margin-bottom: 12px;
            color: #3F4141;
            font-weight: 600;
            font-size: 20px;
            line-height: 24px;

            @media (max-width: 767px) {
                margin-bottom: 0;
            }
        }

        &--icon {
            margin-bottom: 19px;
            @media (max-width: 767px) {
                margin-bottom: 0;
                margin-right: 16px;
            }
        }

        &--title {
            margin: 0;
            color: #3F4141;
            font-weight: 400;
            font-size: 14px;
            line-height: 18px;
            opacity: 0.6;
        }
    }

    &__cover {
        width: 300px;
        // height: 450px;
        margin-top: 130px;

        @media (max-width: 991px) {
            width: 146.12px;
            height: 202px;
            margin-top: 45px;
        }
    }
}