@mixin  fontStyle($color, $size, $weight, $height){
    color: $color;
    font-size: $size;
    font-weight: $weight;
    line-height: $height;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'FiraGO', sans-serif;
}

body {
    background-color: #fff;
}

.main-content {
    position: relative;
    z-index: 2;
    background-color: #fff;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.section-title {
    color: #3F4141;
    font-weight: 700;
    font-size: 32px;
    line-height: 41px;
}

.section-header {
    margin-bottom: 60px;
}

.section-view {
    padding: 11px 32px;
    margin-right: 32px;
    border-right: 1px solid rgba(#3F4141,.05);
    list-style: none;

    a {
        text-decoration: none;
        @include fontStyle(
            #3F4141,
            12px,
            500,
            18px
        )
    }

}

.section-slider {
    &--btn {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: none;
        outline: none;
        background-color: transparent;

        &.next {
            background-color: #fff;
        }
    }

}