@mixin  fontStyle($color, $size, $weight, $height){
    color: $color;
    font-size: $size;
    font-weight: $weight;
    line-height: $height;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'FiraGO', sans-serif;
}

body {
    background-color: #fff;
}


@media (min-width: 0) {
    .pl-container {
        max-width: 100%;
    }
}


@media (max-width: 1024px) {
    .pl-container {
        padding-right: 20px;
        padding-left: 20px;
    }
}

@media (min-width: 1024px) {
    .pl-container {
        max-width: calc(100% - 100px);
    }
}

@media (min-width: 1200px) {
    .pl-container {
        max-width: calc(100% - 150px);
    }
}

@media (min-width: 1440px) {
    .pl-container {
        max-width: calc(100% - 200px);
    }
}


// @media (max-width:1359px) and (min-width:1200px) {
//     .container,
//     .container-md {
//         max-width: 994px;
//     }
// }

// @media (max-width:1199px) and (min-width:991px) {
//     .container,
//     .container-md {
//         max-width: 804px;
//     }
// }


.main-content {
    position: relative;
    z-index: 2;
    background-color: #fff;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.section-title {
    margin: 0;
    color: #3F4141;
    font-weight: 700;
    font-size: 32px;
    line-height: 41px;

    @media (max-width: 767px) {
        font-size: 24px;
        line-height: 31px;
    }
}

.section-header {
    margin-bottom: 60px;

    @media (max-width: 767px) {
        margin-bottom: 40px;
    }
}

.section-view {
    padding: 11px 32px;
    margin-right: 32px;
    border-right: 1px solid rgba(#3F4141,.05);
    list-style: none;

    @media (max-width: 767px) {
        padding: 0;
        margin-right: 0;
        border-right: none;
    }

    a {
        text-decoration: none;
        @include fontStyle(
            #3F4141,
            12px,
            500,
            18px
        )
    }

}

.section-slider {
    &--btn {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: none;
        outline: none;
        background-color: transparent;
        opacity: .5;

        &.next {
            background-color: #fff;
            opacity: 1;
        }
    }

}

.page-header {
    padding: 32px 0;
    background-color: rgba(#789868, 0.1);
    margin-bottom: 48px;
}

.page-title {
    margin: 0;
    @include fontStyle(
        #3F4141,
        24px,
        700,
        29px
    );

    @media (max-width: 767px) {
        @include fontStyle(
            #3F4141,
            32px,
            700,
            39px
        )
    }
}

.input {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    background-color: rgba(#3F4141, 0.05);
    border-radius: 8px;
    overflow: hidden;
    position: relative;

    &__title {
        position: absolute;
        left: 15px;
        // top: 50%;
        top: 0;
        transform: translate(0, 15px);
        transform-origin: 0 0;
        transition: transform 120ms ease-in;
        color: #3F4141;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        z-index: 0;
        opacity: .5;
    }

    &__field {
        width: 100%;
        color: #3F4141;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        padding: 15px;
        border: none;
        outline: none;
        background-color: transparent;
        position: relative;
        z-index: 1;

        &:focus,
        &:not(:placeholder-shown) {
            & + .input__title {
            transform: translate(0, 0px) scale(.8);
            }
        }
    }

    select {
        background-color: rgba(#3F4141, 0.05);
        padding: 7px 14px;
        margin: 8px;
        border: none;
        border-radius: 100px;
        color: #3F4141;
        outline: none;
    }

    textarea {
        background-color: transparent;
        width: 100%;
        padding: 15px;
        border: none;
        outline: none;
    }
}

.disable {
    &::before {
        content: "";
        position: absolute;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }
}