.map {
    padding: 120px 0;
    background-color: rgba(#789868, .1);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

    @media (max-width: 767px) {
        padding: 48px 0;
    }

    &__content {
        width: 100%;
    }

    iframe {
        height: 700px;
        width: 100%;
        border-radius: 16px;
        overflow: hidden;

        @media (max-width: 767px) {
            height: 303px;
        }
    }
}