.news {
    &__section {
        padding: 120px 0 72px 0;
        background-color: #fff;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;

        @media (max-width: 767px) {
            padding: 48px 0 0 0;
        }
    }

    &__item {
        margin-bottom: 48px;

        &--cover {
            width: 100%;
            // height: 209px;
            position: relative;
            border-radius: 16px;
            overflow: hidden;
            margin-bottom: 16px;
            padding-top: 100%;
        }

        &--img {
            width: 100%;
            height: 100%;
            // object-fit: cover;
            position: absolute;
            bottom: 0;
        }

        &--title {
            margin-bottom: 16px;
            @include fontStyle(
                #3F4141,
                14px,
                600,
                16px
            )
        }

        &--more {
            list-style: none;
            opacity: .6;

            img {
                width: 6px !important;
                margin-left: 17px;
            }
        }

        &--link {
            display: flex;
            align-items: center;
            text-decoration: none;
            @include fontStyle(
                #3F4141,
                14px,
                500,
                18px
            )
        }
    }

    &__slider {
        width: 100%;
        margin-left: 0;

        @media (max-width: 767px) {
            width: calc(100% + 40px);
            margin-left: -40px;
        }

        &--cover {
            height: 209px;
        }
    }

    &__list {
        & .news__item {
            @media (max-width: 767px) {
                margin-bottom: 16px;
                padding: 16px;
                border-radius: 16px;
                border: 1px solid rgba(#3F4141, 0.05)
            }
        }
        &--cover {
            height: 254px;
        }
    }

    & .detail {
        padding: 32px 0;

        &__head {
            margin-bottom: 32px;
            &--back {
                text-decoration: none;
                @include fontStyle(
                    #3F4141,
                    14px,
                    500,
                    18px
                );
                img {
                    margin-right: 18px;
                }
            }

            &--share {
                @include fontStyle(
                    #789868,
                    14px,
                    500,
                    18px
                );
                background-color: transparent;
                border: none;
                outline: none;

                img {
                    margin-right: 14px;
                }
            }
        }

        &__title {
            margin-bottom: 16px;
            @include fontStyle(
                #3F4141,
                40px,
                700,
                55px
            );

            @media (max-width: 767px) {
                @include fontStyle(
                    #3F4141,
                    24px,
                    700,
                    28px
                );
            }
        }

        &__date {
            margin-bottom: 16px;
            @include fontStyle(
                #3F4141,
                12px,
                400,
                16px
            );
        }

        &__cover {
            margin: 0;
            margin-right: 52px;
            margin-bottom: 30px;
            width: 50%;
            height: 500px;
            border-radius: 16px;
            overflow: hidden;
            float: left;

            &--img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &__body {
            // margin-top: 32px;
            @include fontStyle(
                #3F4141,
                16px,
                400,
                26px
            );
        }
    }
}