.ordercall {
    background-color: rgba(#789868, 0.1);
    padding: 80px 0;

    @media (max-width: 991px) {
        padding: 40px 0 48px 0;
    }

    &__title {
        position: relative;

        &--text {
            width: calc(100% - 60px);
            margin: 0;
            
            @media (max-width: 991px) {
                width: 100%;
                text-align: center;
            }
        }

        svg {
            position: absolute;
            right: 0;
            top: 60px;

            @media (max-width: 991px) {
                display: none;
            }
        }
    }

    &__form {
        padding: 24px;
        background-color: #fff;
        border-radius: 16px;
        border: 1px solid rgba(#3F41411A, 0.1);
        box-shadow: 0px 6px 16px 0px rgba(#3F4141, 0.04);

        @media (max-width: 991px) {
            margin-top: 20px;
        }

        &--head {
            padding-bottom: 24px;
            margin-bottom: 24px;
            border-bottom: 1px solid rgba(#3F4141, 0.05);
        }

        &--title {
            margin: 0;
            @include fontStyle(
                #3F4141,
                20px,
                500,
                24px
            )
        }

        &--btn {
            width: 100%;
            margin-top: 4px;
            background-color: #789868;
            border-radius: 100px;
            padding: 10px;
            @include fontStyle(
                #fff,
                14px,
                500,
                18px
            );
            border: none;

            svg {
                margin-left: 8px;
            }
        }
    }


    &__contact {
        margin: 0;
        padding: 0;
        margin-top: 40px;

        &--item {
            margin: 0;
            margin-bottom: 20px;
            list-style: none;
        }

        &--link {
            padding: 0;
            color: #789868;
            font-size: 16px;
            line-height: 18px;
            font-weight: 500;
            text-decoration: none;
        }

        svg  {
            width: 19px;
            margin-right: 14px;
        }
    }
}