.selecthouse {
    display: block;

    &__selectarea {
        margin-left: 24px;

        &--title {
            margin: 0;
            margin-right: 8px;
            color: rgba(#3F4141, 0.6);
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
        }

        &--select {
            cursor: pointer;
            padding-right: 8px;
            background-color: transparent;
            border: none;
            outline: none;
            color: #3F4141;
            font-weight: 500;
            font-size: 20px;
            line-height: 24px;
        }
    
        &--option {
            color: rgba(#3F4141, 0.6);
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
        }
    }

    &__area {
        width: 100%;
        position: relative;

        &--cover {
            width: 100%;
            position: absolute;
            z-index: -1;
        }

        a {
            display: block;
            width: 100%;
            height: 100%;

        }

        &--svg {
            position: relative;

            .sold {
                fill: rgba(#49494A, .7);
            }

            .reserv {
                fill: rgba(#C48063, .8);
            }

            polygon {
                fill: transparent;

                &:hover {
                    cursor: pointer;
                    fill: #719066;
                    opacity: .7;
                }

                &.sold {
                    fill: url(#sold_image);
                    opacity: 1;
                    cursor: auto;
                }

                &.reserv {
                    fill: url(#reserv_image);
                    opacity: 1;
                    cursor: auto;
                }
            }
        }
    }
}

