<div class="house">
    <div class="page-header">
        <div class="container d-flex justify-content-center justify-content-md-start">
            <h1 class="page-title">Pillar park 2</h1>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-7">
                <div class="house__cover d-flex align-items-center justify-content-center">
                    <div class="house__cover--change">
                        <label class="switch">
                            <input class="switch__input" type="checkbox">
                            <span class="switch__slider switch__round"></span>
                            <span class="switch__text">
                                3D
                            </span>
                            <span class="switch__text">
                                2D
                            </span>
                        </label>
                    </div>
                    <img src="./assets/images/home.png" class="house__cover--img"/>
                </div>
                <div class="house__location">
                    <img src="./assets/images/house_location.png" class="house__location--img"/>
                </div>
            </div>
            <div class="col-5">
                <div class="house__body">
                    <h1 class="projects__item--title">ბინა 10</h1>
                    <ul class="house__otherhouse--desc">
                        <li>ბლოკი: A</li>
                        <li>სართული: 24</li>
                        <li>საერთო ფართი: 80მ2</li>
                        <li>ფასი: $104,422 ($105/მ2)</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>