<div class="house__otherhouse">
    <div class="container-fluid container-md">
        <div class="section-header d-flex justify-content-between align-items-center">
            <h1 class="section-title">
                მსგავსი ბინები
            </h1>
            <div class="d-flex align-items-center">
                <div class="d-none d-md-flex align-items-center">
                    <button class="section-slider--btn prev projects__slider--prev owl--prev d-flex align-items-center justify-content-center">
                        <img src="./assets/images/slider/prev.svg" />
                    </button>
                    <button class="section-slider--btn next projects__slider--next owl--next d-flex align-items-center justify-content-center">
                        <img src="./assets/images/slider/next.svg" />
                    </button>
                </div>
            </div>
        </div>
        <div class="house__otherhouse--slider owl-carousel">
            <div class="projects__item house__otherhouse--item">
                <div class="projects__item--cover house__otherhouse--cover">
                    <img src="./assets/images/home.png" />
                </div>
                <div class="projects__item--body house__otherhouse--body">
                    <div class="projects__item--head d-flex justify-content-between align-items-start">
                        <div>
                            <h1 class="projects__item--title">
                                <a href="" class="house__otherhouse--link">
                                    ბინა 10
                                </a>
                            </h1>
                        </div>
                    </div>
                    <ul class="house__otherhouse--desc">
                        <li>ბლოკი: A</li>
                        <li>სართული: 24</li>
                        <li>საერთო ფართი: 80მ2</li>
                        <li>ფასი: $104,422 ($105/მ2)</li>
                    </ul>
                    <li class="projects__item--more d-flex d-md-none">
                        <a href="projectsdetail.html" class="projects__item--link">არჩევა</a>
                    </li>
                </div>
            </div><!-- item end -->
            <div class="projects__item house__otherhouse--item">
                <div class="projects__item--cover house__otherhouse--cover">
                    <img src="./assets/images/home.png" />
                </div>
                <div class="projects__item--body house__otherhouse--body">
                    <div class="projects__item--head d-flex justify-content-between align-items-start">
                        <div>
                            <h1 class="projects__item--title">
                                <a href="" class="house__otherhouse--link">
                                    ბინა 10
                                </a>
                            </h1>
                        </div>
                    </div>
                    <ul class="house__otherhouse--desc">
                        <li>ბლოკი: A</li>
                        <li>სართული: 24</li>
                        <li>საერთო ფართი: 80მ2</li>
                        <li>ფასი: $104,422 ($105/მ2)</li>
                    </ul>
                    <li class="projects__item--more d-flex d-md-none">
                        <a href="projectsdetail.html" class="projects__item--link">არჩევა</a>
                    </li>
                </div>
            </div><!-- item end -->
            <div class="projects__item house__otherhouse--item">
                <div class="projects__item--cover house__otherhouse--cover">
                    <img src="./assets/images/home.png" />
                </div>
                <div class="projects__item--body house__otherhouse--body">
                    <div class="projects__item--head d-flex justify-content-between align-items-start">
                        <div>
                            <h1 class="projects__item--title">
                                <a href="" class="house__otherhouse--link">
                                    ბინა 10
                                </a>
                            </h1>
                        </div>
                    </div>
                    <ul class="house__otherhouse--desc">
                        <li>ბლოკი: A</li>
                        <li>სართული: 24</li>
                        <li>საერთო ფართი: 80მ2</li>
                        <li>ფასი: $104,422 ($105/მ2)</li>
                    </ul>
                    <li class="projects__item--more d-flex d-md-none">
                        <a href="projectsdetail.html" class="projects__item--link">არჩევა</a>
                    </li>
                </div>
            </div><!-- item end -->
            <div class="projects__item house__otherhouse--item">
                <div class="projects__item--cover house__otherhouse--cover">
                    <img src="./assets/images/home.png" />
                </div>
                <div class="projects__item--body house__otherhouse--body">
                    <div class="projects__item--head d-flex justify-content-between align-items-start">
                        <div>
                            <h1 class="projects__item--title">
                                <a href="" class="house__otherhouse--link">
                                    ბინა 10
                                </a>
                            </h1>
                        </div>
                    </div>
                    <ul class="house__otherhouse--desc">
                        <li>ბლოკი: A</li>
                        <li>სართული: 24</li>
                        <li>საერთო ფართი: 80მ2</li>
                        <li>ფასი: $104,422 ($105/მ2)</li>
                    </ul>
                    <li class="projects__item--more d-flex d-md-none">
                        <a href="projectsdetail.html" class="projects__item--link">არჩევა</a>
                    </li>
                </div>
            </div><!-- item end -->
        </div>
    </div>
</div>
