<div class="expert">
    <div class="container">
        <div class="section-header d-flex justify-content-center">
            <h1 class="section-title">
                ბინის შერჩევა
            </h1>
        </div>
        <div>
            <form class="expert__form d-flex align-items-center flex-md-nowrap flex-wrap">
                <div class="expert__form--item">
                    <select class="expert__form--select">
                        <option class="expert__form--option">პროექტი</option>
                    </select>
                </div>
                <div class="expert__form--item">
                    <select class="expert__form--select">
                        <option class="expert__form--option">ფართი</option>
                    </select>
                </div>
                <div class="expert__form--item">
                    <select class="expert__form--select">
                        <option class="expert__form--option">ფასი</option>
                    </select>
                </div>
                <div class="expert__form--item">
                    <select class="expert__form--select">
                        <option class="expert__form--option">ოთახები</option>
                    </select>
                </div>
                <button class="expert__form--btn">
                    <img src="./assets/images/search.svg" />
                    მოძებნა
                </button>
            </form>
        </div>
    </div>
</div>