<div class="group">
    <div class="container">
        <div class="row flex-lg-wrap flex-wrap-reverse">
            <div class="col-lg-8">
                <div class="group__body">
                    <h1 class="group__body--title section-title">
                        Pillar ჯგუფი
                    </h1>
                    <div class="group__body--desc">
                        <p>
                            ცნობილი ფაქტია, რომ გვერდის წაკითხვად შიგთავსს შეუძლია მკითხველის ყურადღება მიიზიდოს და დიზაინის აღქმაში ხელი შეუშალოს. Lorem Ipsum-ის გამოყენებით ვღებულობთ იმაზე მეტ-ნაკლებად სწორი გადანაწილების ტექსტს, ვიდრე ერთიდაიგივე 
                        </p>
                        <br />
                        <p>
                            ცნობილი ფაქტია, რომ გვერდის წაკითხვად შიგთავსს შეუძლია მკითხველის ყურადღება მიიზიდოს და დიზაინის აღქმაში ხელი შეუშალოს. Lorem Ipsum-ის გამოყენები
                        </p>
                    </div>
                    <div class="group__footer">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="group__footer--item d-md-block d-flex align-items-center justify-content-between">
                                    <div class="d-flex d-md-block">
                                        <img src="./assets/images/group/rule.svg" class="group__footer--icon"/>
                                        <p class="group__footer--count">24 000 000+</p>
                                    </div>
                                    <p class="group__footer--title">ჯამური ინვესტიცია</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="group__footer--item d-md-block d-flex align-items-center justify-content-between">
                                    <div class="d-flex d-md-block">
                                        <img src="./assets/images/group/tree.svg" class="group__footer--icon"/>
                                        <p class="group__footer--count">10 000+</p>
                                    </div>
                                    <p class="group__footer--title">კმაყოფილი მომხარებელი</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="group__footer--item d-md-block d-flex align-items-center justify-content-between">
                                    <div class="d-flex d-md-block">
                                        <img src="./assets/images/group/door.svg" class="group__footer--icon"/>
                                        <p class="group__footer--count">10</p>
                                    </div>
                                    <p class="group__footer--title">მიმდინარე პროექტი</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 d-flex justify-content-lg-end align-items-start justify-content-center">
                <img src="./assets/images/group_cover.png" class="group__cover" />
            </div>
        </div>
    </div>
</div>