<div class="map">
    <div class="container pl-container">
        <div class="section-header">
            <h1 class="section-title">
                იპოვეთ ჩვენი პროექტები
            </h1>
        </div>
        <div class="map__content">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d47653.15678531359!2d44.77308031215084!3d41.71356361445774!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sge!4v1717953951193!5m2!1sen!2sge" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</div>