<div class="news">
    <div class="news__section"> 
        <div class="container">
            <div class="section-header d-flex justify-content-between align-items-center">
                <h1 class="section-title">
                    სიახლეები
                </h1>
                <div class="d-flex align-items-center">
                    <li class="section-view">
                        <a href="">
                            ყველა
                        </a>
                    </li>
                    <div class="d-none d-md-flex align-items-center">
                        <button class="section-slider--btn prev news__slider--prev owl--prev d-flex align-items-center justify-content-center">
                            <img src="./assets/images/slider/prev.svg" />
                        </button>
                        <button class="section-slider--btn next news__slider--next owl--next d-flex align-items-center justify-content-center">
                            <img src="./assets/images/slider/next.svg" />
                        </button>
                    </div>
                </div>
            </div>
            <div class="news__slider owl-carousel">
                <div class="news__item">
                    <div class="news__item--cover news__slider--cover">
                        <img src="./assets/images/slider/slider1.png" class="news__item--img"/>
                    </div>
                    <h1 class="news__item--title"> 
                        ცნობილი ფაქტია, რომ გვერდის წაკითხვად შიგთავსს შეუძლია მკითხველის ყურადღება...
                    </h1>
                    <li class="news__item--more">
                        <a href="" class="news__item--link">
                            გაიგე მეტი
                            <img src="./assets/images/more.svg" />
                        </a>
                    </li>
                </div><!-- item end -->
                <div class="news__item">
                    <div class="news__item--cover news__slider--cover">
                        <img src="./assets/images/slider/slider1.png" class="news__item--img"/>
                    </div>
                    <h1 class="news__item--title"> 
                        ცნობილი ფაქტია, რომ გვერდის წაკითხვად შიგთავსს შეუძლია მკითხველის ყურადღება...
                    </h1>
                    <li class="news__item--more">
                        <a href="" class="news__item--link">
                            გაიგე მეტი
                            <img src="./assets/images/more.svg" />
                        </a>
                    </li>
                </div><!-- item end -->
                <div class="news__item">
                    <div class="news__item--cover news__slider--cover">
                        <img src="./assets/images/slider/slider1.png" class="news__item--img"/>
                    </div>
                    <h1 class="news__item--title"> 
                        ცნობილი ფაქტია, რომ გვერდის წაკითხვად შიგთავსს შეუძლია მკითხველის ყურადღება...
                    </h1>
                    <li class="news__item--more">
                        <a href="" class="news__item--link">
                            გაიგე მეტი
                            <img src="./assets/images/more.svg" />
                        </a>
                    </li>
                </div><!-- item end -->
                <div class="news__item">
                    <div class="news__item--cover news__slider--cover">
                        <img src="./assets/images/slider/slider1.png" class="news__item--img"/>
                    </div>
                    <h1 class="news__item--title"> 
                        ცნობილი ფაქტია, რომ გვერდის წაკითხვად შიგთავსს შეუძლია მკითხველის ყურადღება...
                    </h1>
                    <li class="news__item--more">
                        <a href="" class="news__item--link">
                            გაიგე მეტი
                            <img src="./assets/images/more.svg" />
                        </a>
                    </li>
                </div><!-- item end -->
            </div>
        </div>
    </div>
</div>