<div class="projects">
    <div class="projects__section">
        <div class="container">
            <div class="section-header d-flex justify-content-between align-items-center">
                <h1 class="section-title">
                    ჩვენი პროექტები
                </h1>
                <div class="d-flex align-items-center">
                    <li class="section-view">
                        <a href="">
                            ყველა
                        </a>
                    </li>
                    <div class="d-none d-md-flex align-items-center">
                        <button class="section-slider--btn prev projects__slider--prev owl--prev d-flex align-items-center justify-content-center">
                            <img src="./assets/images/slider/prev.svg" />
                        </button>
                        <button class="section-slider--btn next projects__slider--next owl--next d-flex align-items-center justify-content-center">
                            <img src="./assets/images/slider/next.svg" />
                        </button>
                    </div>
                </div>
            </div>
            <div class="projects__slider owl-carousel">
                <div class="projects__slider--item">
                    <div class="projects__slider--cover">
                        <p class="projects__slider--status">სტატუსი: 90%</p>
                        <img src="./assets/images/slider/slider1.png" class="projects__slider--img"/>
                    </div>
                    <h1 class="projects__slider--title"> 
                        Pillar Park Dighomi
                    </h1>
                    <p class="projects__slider--location">
                        <img src="./assets/images/article_location.svg" />
                        თბილისი, დიღმის 8
                    </p>
                </div><!-- item end -->
                <div class="projects__slider--item">
                    <div class="projects__slider--cover">
                        <p class="projects__slider--status">სტატუსი: 90%</p>
                        <img src="./assets/images/slider/slider1.png" class="projects__slider--img"/>
                    </div>
                    <h1 class="projects__slider--title"> 
                        Pillar Park Dighomi
                    </h1>
                    <p class="projects__slider--location">
                        <img src="./assets/images/article_location.svg" />
                        თბილისი, დიღმის 8
                    </p>
                </div><!-- item end -->
                <div class="projects__slider--item">
                    <div class="projects__slider--cover">
                        <p class="projects__slider--status">სტატუსი: 90%</p>
                        <img src="./assets/images/slider/slider1.png" class="projects__slider--img"/>
                    </div>
                    <h1 class="projects__slider--title"> 
                        Pillar Park Dighomi
                    </h1>
                    <p class="projects__slider--location">
                        <img src="./assets/images/article_location.svg" />
                        თბილისი, დიღმის 8
                    </p>
                </div><!-- item end -->
            </div>
        </div>
    </div>
</div>