<html>
    <header class="header">
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <div class="header__logo">
                        <img src="./assets/images/logo.svg" class="header__logo--img" />
                    </div>
                </div>
                <div class="col-6 d-flex justify-content-end align-items-center">
                    <ul class="socials d-flex">
                        <li class="socials__item">
                            <a href="" class="socials__item--link" target="_blank">
                                <img src="./assets/images/fb_icon.svg" class="socials__item--icon" />
                            </a>
                        </li>
                        <li class="socials__item">
                            <a href="" class="socials__item--link" target="_blank">
                                <img src="./assets/images/ig_icon.svg" class="socials__item--icon" />
                            </a>
                        </li>
                        <li class="socials__item">
                            <a href="" class="socials__item--link" target="_blank">
                                <img src="./assets/images/yt_icon.svg" class="socials__item--icon" />
                            </a>
                        </li>
                        
                    </ul>
                    <div class="language">
                        <button class="language--btn d-flex align-items-center">
                            <img src="./assets/images/flags/ge.png" class="language--flag" />
                            <p class="language--text">
                                ქარ
                            </p>
                            <img src="./assets/images/arrow_down.svg" class="language--icon" />
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </header>
</html>