<link rel="stylesheet" href="./assets/styles/owl.carousel.min.css">

<html>
    <div class="slider">
        <div class="slider--content owl-carousel">
            <div class="slider__item">
                <img src="./assets/images/slider1.png" class="slider__item--cover"/>
                <div class="slider__item--body">
                    <h1 class="slider__item--price">1,240 მ2</h1>
                    <h1 class="slider__item--desc">უნიკალური საცხოვრებელი სივრცე</h1>
                </div>
            </div>
        </div>
        <div class="slider__footer d-flex align-items-center justify-content-center">
            <button class="slider__footer--btn slider--prev d-flex align-items-center">
                <img src="./assets/images/arrow_prev.svg" />
            </button>
            <div class="slider__dots owl-dots d-flex align-items-center justify-content-center">
                <div class="slider__dots--item"></div>
                <div class="slider__dots--item active"></div>
                <div class="slider__dots--item"></div>
            </div>
            <button class="slider__footer--btn slider--next d-flex align-items-center">
                <img src="./assets/images/arrow_next.svg" />
            </button>
        </div>
    </div>
    
    <script src="./function/owl.carousel.min.js"></script>
    <script src="./function/slider.js"></script>
</html>