<footer class="footer">
    <div class="container">
        <div class="footer__container">
            <ul class="footer__contact">
                <li class="footer__contact--item">
                    <a href="" class="footer__contact--link d-flex align-items-center">
                        <img src="./assets/images/footer/call.svg" class="footer__contact--icon" />
                        <p class="footer__contact--name">
                            ტელეფონი:
                        </p>
                        <p class="footer__contact--value">
                            (032) 2-100-100
                        </p>
                    </a>
                </li>
                <li class="footer__contact--item">
                    <a href="" class="footer__contact--link d-flex align-items-center">
                        <img src="./assets/images/footer/mail.svg" class="footer__contact--icon" />
                        <p class="footer__contact--name">
                            ელ.ფოსტა:
                        </p>
                        <p class="footer__contact--value">
                            info@pillarpark.ge
                        </p>
                    </a>
                </li>
                <li class="footer__contact--item">
                    <a href="" class="footer__contact--link d-flex align-items-center">
                        <img src="./assets/images/footer/location_on.svg" class="footer__contact--icon" />
                        <p class="footer__contact--name">
                            მისამართი:
                        </p>
                        <p class="footer__contact--value">
                            თბ. კრწანისის 24ა
                        </p>
                    </a>
                </li>
            </ul>
            <ul class="footer__socs d-flex align-items-center">
                <li class="footer__socs--item">
                    <a href="" class="footer__socs--link">
                        <img src="./assets/images/footer/fb.svg" class="footer__socs--icon" />
                    </a>
                </li>
                <li class="footer__socs--item">
                    <a href="" class="footer__socs--link">
                        <img src="./assets/images/footer/yt.svg" class="footer__socs--icon" />
                    </a>
                </li>
                <li class="footer__socs--item">
                    <a href="" class="footer__socs--link">
                        <img src="./assets/images/footer/in.svg" class="footer__socs--icon" />
                    </a>
                </li>
                <li class="footer__socs--item">
                    <a href="" class="footer__socs--link">
                        <img src="./assets/images/footer/ig.svg" class="footer__socs--icon" />
                    </a>
                </li>
            </ul>
        </div>
    </div>
</footer>