<div class="m-select-floor d-block d-md-none">
    <div class="section-header d-flex justify-content-center">
        <h1 class="section-title">
            სართულის შეცვლა
        </h1>
    </div>
    <div class="container">
        <div class="m-select-floor__container">
            <div class="row">
                <div class="col-4">
                    <li class="disable">
                        <a href="">
                            1
                        </a>
                    </li>
                </div>
                <div class="col-4">
                    <li class="">
                        <a href="selecthouse.html">
                            2
                        </a>
                    </li>
                </div>
                <div class="col-4">
                    <li class="">
                        <a href="">
                            3
                        </a>
                    </li>
                </div>
                <div class="col-4">
                    <li class="">
                        <a href="">
                            4
                        </a>
                    </li>
                </div>
                <div class="col-4">
                    <li class="disable">
                        <a href="">
                            5
                        </a>
                    </li>
                </div>
                <div class="col-4">
                    <li class="">
                        <a href="">
                            6
                        </a>
                    </li>
                </div>
            </div>
        </div>
    </div>
</div>