<div class="livecamera">
    <div class="page-header d-flex justify-content-center">
        <h1 class="page-title">ლაივ კამერები</h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="news__item">
                    <div class="news__item--cover">
                        <img src="./assets/images/slider/slider1.png" class="news__item--img"/>
                    </div>
                    <h1 class="news__item--title"> 
                        ცნობილი ფაქტია, რომ გვერდის წაკითხვად შიგთავსს შეუძლია მკითხველის ყურადღება...
                    </h1>
                    <li class="news__item--more">
                        <a href="" class="news__item--link">
                            გაიგე მეტი
                            <img src="./assets/images/more.svg" />
                        </a>
                    </li>
                </div>
            </div><!-- item end -->
            <div class="col-12 col-md-6">
                <div class="news__item">
                    <div class="news__item--cover">
                        <img src="./assets/images/slider/slider1.png" class="news__item--img"/>
                    </div>
                    <h1 class="news__item--title"> 
                        ცნობილი ფაქტია, რომ გვერდის წაკითხვად შიგთავსს შეუძლია მკითხველის ყურადღება...
                    </h1>
                    <li class="news__item--more">
                        <a href="" class="news__item--link">
                            გაიგე მეტი
                            <img src="./assets/images/more.svg" />
                        </a>
                    </li>
                </div>
            </div><!-- item end -->
        </div>
    </div>
</div>