<html>
    <div class="popup">
        <div class="popup--bg"></div>
        <div class="popup__content">
            <div class="popup__content--head">
                <h1 class="popup__content--title">
                    დეტალური ინფორმაციის მისაღებად დაგვიტოვეთ თქვენი საკონტაქტო
                </h1>
                <button class="popup__content--close">
                    <img src="./assets/images/close.svg">
                </button>
            </div>
            <form class="popup__form">
                <div class="row">
                    <div class="col-6">
                        <label class="input">
                            <input type="text" placeholder="სახელი" />
                        </label>
                    </div>
                    <div class="col-6">
                        <label class="input">
                            <input type="text" placeholder="გვარი" />
                        </label>
                    </div>
                    <div class="col-12">
                        <label class="input">
                            <select>
                                <option>+995</option>
                            </select>
                            <input type="text" placeholder="მობილურის ნომერი" />
                        </label>
                    </div>
                    <div class="col-12">
                        <label class="input">
                            <input type="text" placeholder="ელ.ფოსტა (არასავალდებულო)" />
                        </label>
                    </div>
                    <div class="col-12">
                        <label class="input">
                            <textarea rows="4" placeholder="შეტყობინება (არასავალდებულო)"></textarea>
                        </label>
                    </div>
                    <div class="col-12">
                        <button class="popup__form--btn">
                            გაგზავნა
                        </button>
                    </div>
                </div>
            </form>
            <div class="d-flex align-items-center flex-column">
                <a href="" class="contact__item--link d-flex align-items-center">
                    <img src="./assets/images/phone_icon.svg" class="contact__item--icon">
                    (+995) 550 500 400
                </a>
                <a href="" class="contact__item--link d-flex align-items-center">
                    <img src="./assets/images/email_icon.svg" class="contact__item--icon">
                    sales@pillarpark.ge
                </a>
            </div>
        </div>
    </div>
</html>