<div class="projects">
    <div class="page-header d-flex justify-content-center">
        <h1 class="page-title">ჩვენი პრეოქტები</h1>
    </div>
    <div class="container">
        <div class="projects__list">
            <div class="projects__item">
                <div class="row">
                    <div class="col-12 col-lg-6">
                        <div class="projects__item--cover">
                            <img src="./assets/images/post.png" />
                        </div>
                    </div>
                    <div class="col-12 col-lg-6">
                        <div class="projects__item--body">
                            <div class="projects__item--head d-flex justify-content-between align-items-start">
                                <div>
                                    <h1 class="projects__item--title">Pillar Park Dighomi</h1>
                                    <p class="projects__item--location">
                                        <img src="./assets/images/article_location.svg" />
                                        თბილისი, დიღმის 8
                                    </p>
                                </div>
                                <div class="projects__item--status">
                                    სტატუსი: 80%
                                </div>
                            </div>
                            <div class="projects__item--desc">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit minus natus sed dolore mollitia repellat, inventore temporibus molestiae excepturi ipsum quia quo accusamus dignissimos, ipsam necessitatibus iure veritatis, illo unde quasi repudiandae fugiat sint vero? similique aut nulla rerum ipsum. Quisquam!
                            </div>
                            <li class="projects__item--more">
                                <a href="projectsdetail.html" class="projects__item--link">დეტალურად</a>
                            </li>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>