<div class="ordercall">
    <div class="container pl-container">
        <div class="row">
            <div class="col-12 col-lg-6 col-xl-7">
                <div class="ordercall__title">
                    <h1 class="ordercall__title--text">
                        დეტალური ინფორმაციის მისაღებად
                        დაგვიტოვეთ თქვენი საკონტაქტო ინფორმაცია
                    </h1>
                    <img src="./assets/images/ordercall_text_icon.svg" class="imgtosvg" />
                </div>
                <ul class="ordercall__contact d-flex flex-column">
                    <li class="ordercall__contact--item d-flex justify-content-lg-start justify-content-center">
                        <a href="tel:995322500400" class="ordercall__contact--link d-flex align-items-center">
                            <img src="./assets/images/call.svg" class="imgtosvg">
                            (+995) 322 500 400
                        </a>
                    </li>
                    <li class="ordercall__contact--item d-flex justify-content-lg-start justify-content-center">
                        <a href="mailto:sales@pillarpark.ge" class="ordercall__contact--link d-flex align-items-center">
                            <img src="./assets/images/mail.svg" class="imgtosvg">
                            sales@pillarpark.ge
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-12 col-lg-6 col-xl-5">
                <form class="ordercall__form">
                    <div class="row">
                        <div class="col-12">
                            <div class="ordercall__form--head">
                                <h1 class="ordercall__form--title">
                                    შეავსეთ ფორმა
                                </h1>
                            </div>
                        </div>
                        <div class="col-6">
                            <label class="input">
                                <input type="text" placeholder="" class="input__field" />
                                <span class="input__title">სახელი *</span>
                            </label>
                        </div>
                        <div class="col-6">
                            <label class="input">
                                <input type="text" placeholder="" class="input__field"/>
                                <span class="input__title">გვარი *</span>
                            </label>
                        </div>
                        <div class="col-12 col-md-6">
                            <label class="input">
                                <select>
                                    <option>+995</option>
                                </select>
                                <input type="text" placeholder="" class="input__field"/>
                                <span class="input__title" style="left: 107px">მობილური *</span>
                            </label>
                        </div>
                        <div class="col-12 col-md-6">
                            <label class="input">
                                <input type="text" placeholder="" class="input__field"/>
                                <span class="input__title">ელ.ფოსტა *</span>
                            </label>
                        </div>
                        <div class="col-12">
                            <label class="input">
                                <textarea rows="4" placeholder="" class="input__field"></textarea>
                                <span class="input__title">შეტყობინება</span>
                            </label>
                        </div>
                        <div class="col-12">
                            <button class="ordercall__form--btn d-flex align-items-center justify-content-center">
                                გაგზავნა
                                <img src="./assets/images/send_icon.svg" class="imgtosvg"/>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>