@charset "UTF-8";
.loader {
  position: fixed;
  z-index: 9;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loader__content {
  position: relative;
  margin: auto;
  width: 80px;
  aspect-ratio: 1;
  border-radius: 100vmin;
  overflow: hidden;
  padding: 20px;
}
.loader__content::before {
  content: "";
  display: block;
  padding-top: 100%;
}

.circular {
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  margin: auto;
  transform-origin: center center;
  animation: 2s linear 0s infinite rotate;
}

.path {
  stroke: #789868;
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  animation: 1.5s ease-in-out 0s infinite dash;
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
    stroke: #789868;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}
@keyframes rotate {
  to {
    transform: rotate(1turn);
  }
}
body.page .header {
  background-color: rgba(120, 152, 104, 0.1);
}
body.page .header__order--btn {
  background-color: #789868;
}
body.page .header__order--btn p {
  color: #fff;
}
body.page .header__order--btn path {
  fill: #fff;
}
body.page .header__lang {
  color: #3F4141;
}
body.page .header__burger path {
  fill: #3F4141;
}
body.page__detail .header {
  background-color: #fff;
}
body.page__detail .header__order--btn {
  background-color: #789868;
}
body.page__detail .header__order--btn p {
  color: #fff;
}
body.page__detail .header__order--btn path {
  fill: #fff;
}
body.page__detail .header__lang {
  color: #3F4141;
}
body.page__detail .header__burger path {
  fill: #3F4141;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "FiraGO", sans-serif;
}

body {
  background-color: #fff;
}

@media (min-width: 1360px) {
  .container,
  .container-md {
    max-width: 1110px;
  }
}
.main-content {
  position: relative;
  z-index: 2;
  background-color: #fff;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.section-title {
  margin: 0;
  color: #3F4141;
  font-weight: 700;
  font-size: 32px;
  line-height: 41px;
}
@media (max-width: 767px) {
  .section-title {
    font-size: 24px;
    line-height: 31px;
  }
}

.section-header {
  margin-bottom: 60px;
}
@media (max-width: 767px) {
  .section-header {
    margin-bottom: 40px;
  }
}

.section-view {
  padding: 11px 32px;
  margin-right: 32px;
  border-right: 1px solid rgba(63, 65, 65, 0.05);
  list-style: none;
}
@media (max-width: 767px) {
  .section-view {
    padding: 0;
    margin-right: 0;
    border-right: none;
  }
}
.section-view a {
  text-decoration: none;
  color: #3F4141;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
}

.section-slider--btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  outline: none;
  background-color: transparent;
  opacity: 0.5;
}
.section-slider--btn.next {
  background-color: #fff;
  opacity: 1;
}

.page-header {
  padding: 32px 0;
  background-color: rgba(120, 152, 104, 0.1);
  margin-bottom: 48px;
}

.page-title {
  margin: 0;
  color: #3F4141;
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
}
@media (max-width: 767px) {
  .page-title {
    color: #3F4141;
    font-size: 32px;
    font-weight: 700;
    line-height: 39px;
  }
}

.input {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  background-color: rgba(63, 65, 65, 0.05);
  border-radius: 8px;
  overflow: hidden;
  position: relative;
}
.input__title {
  position: absolute;
  left: 15px;
  top: 0;
  transform: translate(0, 15px);
  transform-origin: 0 0;
  transition: transform 120ms ease-in;
  color: #3F4141;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  z-index: 0;
  opacity: 0.5;
}
.input__field {
  width: 100%;
  color: #3F4141;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  padding: 15px;
  border: none;
  outline: none;
  background-color: transparent;
  position: relative;
  z-index: 1;
}
.input__field:not(:-moz-placeholder-shown) + .input__title {
  transform: translate(0, 0px) scale(0.8);
}
.input__field:focus + .input__title, .input__field:not(:placeholder-shown) + .input__title {
  transform: translate(0, 0px) scale(0.8);
}
.input select {
  background-color: rgba(63, 65, 65, 0.05);
  padding: 7px 14px;
  margin: 8px;
  border: none;
  border-radius: 100px;
  color: #3F4141;
  outline: none;
}
.input textarea {
  background-color: transparent;
  width: 100%;
  padding: 15px;
  border: none;
  outline: none;
}

.disable::before {
  content: "";
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.header {
  position: relative;
  z-index: 2;
}
.header__container {
  padding: 32px 0;
  border-bottom: 1px solid rgba(63, 65, 65, 0.05);
}
@media (max-width: 767px) {
  .header__container {
    padding: 20px 0;
  }
}
.header__order {
  list-style: none;
  margin-right: 32px;
}
.header__order--btn {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 11px 20px;
  background-color: #fff;
  border-radius: 100px;
  text-decoration: none;
}
@media (max-width: 767px) {
  .header__order--btn {
    padding: 12px;
    background-color: #789868;
  }
}
.header__order--btn p {
  margin: 0;
  margin-left: 8px;
  color: #3F4141;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
}
@media (max-width: 767px) {
  .header__order--btn path {
    fill: #fff;
  }
}
.header__lang {
  margin-right: 32px;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
}
.header__burger {
  background-color: transparent;
  outline: none;
  border: none;
}

.slider {
  width: 100%;
  height: 100vh;
  position: relative;
}
.slider__container {
  position: relative;
}
.slider__content {
  position: fixed;
  height: 100vh;
  top: 0;
  z-index: 0;
}
.slider__item {
  width: 100%;
  height: 100vh;
  position: relative;
}
.slider__item--cover {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.slider__item--body {
  padding: 80px 0;
  position: absolute;
  background: rgb(63, 65, 65);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, black 100%);
  bottom: 0;
  left: 0;
  width: 100%;
}
@media (max-width: 767px) {
  .slider__item--body {
    padding: 135px 0;
  }
}
.slider__item--title {
  margin-bottom: 24px;
  color: #fff;
  font-size: 80px;
  font-weight: 500;
  line-height: 80px;
}
@media (max-width: 767px) {
  .slider__item--title {
    font-size: 40px;
    line-height: 40px;
  }
}
.slider__item--desc {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  opacity: 0.8;
}
@media (max-width: 767px) {
  .slider__item--desc {
    font-size: 14px;
    line-height: 18px;
  }
}
.slider__dots {
  position: fixed;
  bottom: 80px;
  z-index: 1;
}
@media (max-width: 767px) {
  .slider__dots {
    bottom: 56px;
  }
}
.slider__dots--item {
  width: 40px;
  height: 56px;
  padding: 0 6px;
  opacity: 0.5;
}
.slider__dots--item.active {
  width: 72px;
  opacity: 1;
}
.slider__dots--img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
}

.group {
  background-color: #fff;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.group__body {
  padding: 148px 0;
}
@media (max-width: 991px) {
  .group__body {
    padding: 45px 0;
  }
}
.group__body--title {
  margin-bottom: 24px;
}
.group__body--desc {
  margin-bottom: 24px;
  color: #3F4141;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}
.group__body--desc p {
  margin: 0;
}
.group__footer--item {
  margin: 8px;
}
.group__footer--count {
  margin-bottom: 12px;
  color: #3F4141;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}
@media (max-width: 767px) {
  .group__footer--count {
    margin-bottom: 0;
  }
}
.group__footer--icon {
  margin-bottom: 19px;
}
@media (max-width: 767px) {
  .group__footer--icon {
    margin-bottom: 0;
    margin-right: 16px;
  }
}
.group__footer--title {
  margin: 0;
  color: #3F4141;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  opacity: 0.6;
}
.group__cover {
  width: 289.35px;
  height: 400px;
  margin-top: 160px;
}
@media (max-width: 991px) {
  .group__cover {
    width: 146.12px;
    height: 202px;
    margin-top: 45px;
  }
}

.projects__section {
  padding: 120px 0;
  background-color: rgba(120, 152, 104, 0.1);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
@media (max-width: 767px) {
  .projects__section {
    padding: 48px 0;
  }
}
.projects__slider {
  width: 100%;
  margin-left: 0;
}
@media (max-width: 767px) {
  .projects__slider {
    width: calc(100% + 40px);
    margin-left: -40px;
  }
}
.projects__slider--item {
  display: block;
}
.projects__slider--cover {
  width: 100%;
  height: 332px;
  position: relative;
  border-radius: 16px;
  overflow: hidden;
  margin-bottom: 24px;
}
@media (max-width: 767px) {
  .projects__slider--cover {
    height: 210px;
    margin-bottom: 16px;
  }
}
.projects__slider--img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.projects__slider--status {
  margin: 0;
  position: absolute;
  top: 24px;
  left: 24px;
  border-radius: 100px;
  padding: 8px 12px;
  z-index: 1;
  background-color: #fff;
  color: #3F4141;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
}
.projects__slider--title {
  margin-bottom: 8px;
  color: #3F4141;
  font-size: 24px;
  font-weight: 500;
  line-height: 31px;
}
.projects__slider--location {
  margin: 0;
  opacity: 0.64;
  display: flex;
  align-items: center;
  color: #3F4141;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
}
.projects__slider--location img {
  width: 14px !important;
  margin-right: 14px;
}
.projects__list {
  width: 100%;
}
@media (max-width: 767px) {
  .projects__list {
    margin-bottom: 40px;
  }
}
.projects__item {
  width: 100%;
  padding: 24px;
  border-radius: 16px;
  border: 1px solid rgba(63, 65, 65, 0.05);
}
@media (max-width: 991px) {
  .projects__item {
    padding: 16px;
  }
}
.projects__item--cover {
  width: 100%;
  height: 100%;
  border-radius: 16px;
  overflow: hidden;
}
.projects__item--cover img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.projects__item--body {
  padding: 28px 0;
  margin-left: 48px;
}
@media (max-width: 991px) {
  .projects__item--body {
    padding: 16px 0 0 0;
    margin-left: 0;
  }
}
.projects__item--status {
  border-radius: 100px;
  padding: 8px 12px;
  z-index: 1;
  background-color: #fff;
  border: 1px solid rgba(63, 65, 65, 0.05);
  color: #3F4141;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
}
.projects__item--title {
  margin-bottom: 8px;
  color: #3F4141;
  font-size: 24px;
  font-weight: 500;
  line-height: 31px;
}
@media (max-width: 991px) {
  .projects__item--title {
    font-size: 18px;
  }
}
.projects__item--location {
  margin: 0;
  opacity: 0.64;
  display: flex;
  align-items: center;
  color: #3F4141;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
}
@media (max-width: 991px) {
  .projects__item--location {
    font-size: 12px;
  }
}
.projects__item--location img {
  width: 14px !important;
  margin-right: 14px;
}
.projects__item--desc {
  margin: 48px 0;
  color: #3F4141;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}
@media (max-width: 991px) {
  .projects__item--desc {
    margin: 20px 0;
  }
}
.projects__item--more {
  display: flex;
  list-style: none;
}
.projects__item--link {
  background-color: #789868;
  padding: 15px 45px;
  border-radius: 100px;
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
}
@media (max-width: 991px) {
  .projects__item--link {
    width: 100%;
    text-align: center;
  }
}
.projects .detail__slider--body {
  padding: 80px 0;
  position: fixed;
  background: rgb(63, 65, 65);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, black 100%);
  bottom: 0;
  left: 0;
  width: 100%;
}
@media (max-width: 767px) {
  .projects .detail__slider--body {
    padding: 135px 0;
  }
}
.projects .detail__slider--title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 9;
  bottom: 80px;
  color: #fff;
  font-size: 48px;
  font-weight: 500;
  line-height: 48px;
}
.projects .detail__slider--status {
  margin-top: 24px;
  border-radius: 100px;
  padding: 8px 12px;
  z-index: 1;
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
}
.projects .detail__desc {
  padding-top: 120px;
}
.projects .detail__desc--title {
  margin: 0;
  margin-bottom: 48px;
}
.projects .detail__desc--text {
  color: #3F4141;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}
.projects .detail__desc--text p {
  margin: 0;
}
.projects .detail__gallery {
  padding: 120px 0;
  overflow: hidden;
}
.projects .detail__gallery--slider-out {
  height: 414px;
  position: relative;
  margin-left: -40px;
}
.projects .detail__gallery--slider-in {
  width: 100vw;
  position: absolute;
  left: 0;
}
.projects .detail__gallery--item {
  width: 100%;
}
.projects .detail__gallery--cover {
  width: 100%;
  height: 400px;
  border-radius: 16px;
  overflow: hidden;
}
.projects .detail__gallery--img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.expert {
  padding: 120px 0;
  background-color: #fff;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
@media (max-width: 767px) {
  .expert {
    padding: 48px 0;
  }
}
.expert__form {
  border: 1px solid rgba(63, 65, 65, 0.1);
  border-radius: 100px;
  padding: 8px 0;
  box-shadow: 0px 6px 16px 0px rgba(63, 65, 65, 0.04);
}
@media (max-width: 767px) {
  .expert__form {
    border-radius: 16px;
    padding: 0 20px;
  }
}
.expert__form--item {
  width: 20%;
  padding: 0 24px;
  border-right: 1px solid rgba(63, 65, 65, 0.05);
}
@media (max-width: 767px) {
  .expert__form--item {
    width: 50%;
    padding: 20px 0;
    border-right: none;
  }
}
@media (max-width: 767px) {
  .expert__form--item:nth-of-type(1), .expert__form--item:nth-of-type(2) {
    border-bottom: 1px solid rgba(63, 65, 65, 0.05);
  }
}
@media (max-width: 767px) {
  .expert__form--item:nth-of-type(2) select, .expert__form--item:nth-of-type(4) select {
    border-left: 1px solid rgba(63, 65, 65, 0.05);
    padding-left: 24px;
  }
}
.expert__form--item:nth-of-type(4) {
  border-right: none;
}
@media (max-width: 767px) {
  .expert__form--item:nth-of-type(1), .expert__form--item:nth-of-type(3) {
    padding-right: 24px;
  }
}
.expert__form--select {
  width: 100%;
  padding: 19px 0;
  border: none;
  outline: none;
  cursor: pointer;
  color: rgba(63, 65, 65, 0.6);
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}
@media (max-width: 767px) {
  .expert__form--select {
    padding: 9px 0;
  }
}
.expert__form--btn {
  width: 20%;
  background-color: #789868;
  border-radius: 100px;
  padding: 19px 0;
  border: none;
  outline: none;
  cursor: pointer;
  margin-right: 8px;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
}
.expert__form--btn img {
  margin-right: 8px;
}
@media (max-width: 767px) {
  .expert__form--btn {
    width: 100%;
    margin-bottom: 20px;
  }
}

.map {
  padding: 120px 0;
  background-color: rgba(120, 152, 104, 0.1);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
@media (max-width: 767px) {
  .map {
    padding: 48px 0;
  }
}
.map__content {
  width: 100%;
}
.map iframe {
  height: 415px;
  width: 100%;
  border-radius: 16px;
  overflow: hidden;
}
@media (max-width: 767px) {
  .map iframe {
    height: 303px;
  }
}

.news__section {
  padding: 120px 0 72px 0;
  background-color: #fff;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
@media (max-width: 767px) {
  .news__section {
    padding: 48px 0 0 0;
  }
}
.news__item {
  margin-bottom: 48px;
}
.news__item--cover {
  width: 100%;
  position: relative;
  border-radius: 16px;
  overflow: hidden;
  margin-bottom: 16px;
}
.news__item--img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.news__item--title {
  margin-bottom: 16px;
  color: #3F4141;
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
}
.news__item--more {
  list-style: none;
  opacity: 0.6;
}
.news__item--more img {
  width: 6px !important;
  margin-left: 17px;
}
.news__item--link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #3F4141;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
}
.news__slider {
  width: 100%;
  margin-left: 0;
}
@media (max-width: 767px) {
  .news__slider {
    width: calc(100% + 40px);
    margin-left: -40px;
  }
}
.news__slider--cover {
  height: 209px;
}
@media (max-width: 767px) {
  .news__list .news__item {
    margin-bottom: 16px;
    padding: 16px;
    border-radius: 16px;
    border: 1px solid rgba(63, 65, 65, 0.05);
  }
}
.news__list--cover {
  height: 254px;
}
.news .detail {
  padding: 32px 95px;
}
@media (max-width: 767px) {
  .news .detail {
    padding: 32px 0;
  }
}
.news .detail__head {
  margin-bottom: 32px;
}
.news .detail__head--back {
  text-decoration: none;
  color: #3F4141;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
}
.news .detail__head--back img {
  margin-right: 18px;
}
.news .detail__head--share {
  color: #789868;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  background-color: transparent;
  border: none;
  outline: none;
}
.news .detail__head--share img {
  margin-right: 14px;
}
.news .detail__title {
  margin-bottom: 16px;
  color: #3F4141;
  font-size: 40px;
  font-weight: 700;
  line-height: 55px;
}
@media (max-width: 767px) {
  .news .detail__title {
    color: #3F4141;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
  }
}
.news .detail__date {
  margin-bottom: 16px;
  color: #3F4141;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}
.news .detail__cover {
  margin: 0;
  margin-top: 32px;
  width: 100%;
  height: 431px;
  border-radius: 16px;
  overflow: hidden;
}
.news .detail__cover--img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.news .detail__body {
  margin-top: 32px;
  color: #3F4141;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

.footer {
  width: 100%;
}
.footer__container {
  border-top: 1px solid rgba(63, 65, 65, 0.05);
  padding: 65px 0;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}
@media (max-width: 767px) {
  .footer__container {
    flex-direction: column;
    align-items: flex-start;
  }
}
.footer__container ul {
  margin: 0;
  margin-left: -12px;
  margin-right: -12px;
  padding: 0;
}
@media (max-width: 767px) {
  .footer__container ul {
    margin-left: 0;
    margin-right: 0;
  }
}
.footer__container ul li {
  list-style: none;
  padding: 6px 0;
}
.footer__container ul li a {
  text-decoration: none;
}
.footer__contact {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}
@media (max-width: 767px) {
  .footer__contact {
    flex-direction: column;
    align-items: flex-start;
  }
}
.footer__contact--item {
  padding: 0 12px !important;
}
@media (max-width: 767px) {
  .footer__contact--item {
    padding: 6px 0 !important;
  }
}
.footer__contact--icon {
  margin-right: 10px;
}
.footer__contact--name {
  margin: 0;
  margin-right: 8px;
  color: #3F4141;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}
.footer__contact--value {
  color: #3F4141;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  margin: 0;
}
.footer__socs {
  margin-left: -8px !important;
  margin-right: -8px !important;
}
@media (max-width: 767px) {
  .footer__socs {
    margin-top: 12px !important;
  }
}
.footer__socs--item {
  padding: 8px !important;
}
.footer__socs--link {
  display: flex;
  align-items: center;
}

.ordercall {
  background-color: rgba(120, 152, 104, 0.1);
  padding: 80px 0;
}
@media (max-width: 991px) {
  .ordercall {
    padding: 40px 0 48px 0;
  }
}
.ordercall__title {
  position: relative;
}
.ordercall__title--text {
  width: calc(100% - 60px);
  margin: 0;
}
@media (max-width: 991px) {
  .ordercall__title--text {
    width: 100%;
    text-align: center;
  }
}
.ordercall__title svg {
  position: absolute;
  right: 0;
  top: 60px;
}
@media (max-width: 991px) {
  .ordercall__title svg {
    display: none;
  }
}
.ordercall__form {
  padding: 24px;
  background-color: #fff;
  border-radius: 16px;
  border: 1px solid rgba(63, 65, 65, 0.1);
  box-shadow: 0px 6px 16px 0px rgba(63, 65, 65, 0.04);
}
@media (max-width: 991px) {
  .ordercall__form {
    margin-top: 20px;
  }
}
.ordercall__form--head {
  padding-bottom: 24px;
  margin-bottom: 24px;
  border-bottom: 1px solid rgba(63, 65, 65, 0.05);
}
.ordercall__form--title {
  margin: 0;
  color: #3F4141;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
}
.ordercall__form--btn {
  width: 100%;
  margin-top: 4px;
  background-color: #789868;
  border-radius: 100px;
  padding: 10px;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  border: none;
}
.ordercall__form--btn svg {
  margin-left: 8px;
}
.ordercall__contact {
  margin: 0;
  padding: 0;
  margin-top: 40px;
}
.ordercall__contact--item {
  margin: 0;
  margin-bottom: 20px;
  list-style: none;
}
.ordercall__contact--link {
  padding: 0;
  color: #789868;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-decoration: none;
}
.ordercall__contact svg {
  width: 19px;
  margin-right: 14px;
}

.menu {
  position: absolute;
  width: 100%;
  height: 200vh;
  top: 0;
  right: 0;
  z-index: 2;
  display: none;
}
.menu__bg {
  background-color: rgba(42, 42, 42, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}
.menu__content {
  height: 100vh;
  position: relative;
  z-index: 2;
}
.menu__content--bg {
  width: 100vw;
  height: 200vh;
  background-color: #fff;
  position: absolute;
  z-index: -1;
}
@media (max-width: 767px) {
  .menu__content--bg {
    width: calc(100vw + 50px);
    left: -50px;
  }
}

.sidebar {
  padding-top: 40px;
  margin-left: -12px;
  margin-right: -12px;
}
@media (max-width: 767px) {
  .sidebar {
    padding-top: 20px;
  }
}
.sidebar .header__order--btn {
  background-color: #789868;
}
.sidebar .header__order--btn p {
  color: #fff;
}
.sidebar .header__order--btn path {
  fill: #fff;
}
.sidebar .header__lang {
  color: #3F4141;
}
.sidebar__nav {
  margin: 0;
  margin-top: 80px;
  padding: 0;
}
.sidebar__nav--item {
  list-style: none;
  margin-bottom: 24px;
}
@media (max-width: 767px) {
  .sidebar__nav--item {
    display: flex;
    justify-content: center;
  }
}
.sidebar__nav--link {
  text-decoration: none;
  color: #3F4141;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
}
.sidebar__nav--link:hover {
  color: #789868;
}
.sidebar__footer {
  width: 100%;
  position: absolute;
  bottom: 32px;
  left: 0;
}
.sidebar__footer .header__order {
  margin: 0;
}

.selection__container {
  padding: 32px 0 80px 0;
}
.selection__cover {
  margin-top: 80px;
  width: 100%;
  height: 686px;
  border-radius: 32px;
  overflow: hidden;
}
.selection__cover--img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.livecamera {
  display: block;
}
@media (max-width: 767px) {
  .livecamera .news__item {
    margin-bottom: 16px;
    padding: 16px;
    border-radius: 16px;
    border: 1px solid rgba(63, 65, 65, 0.05);
  }
}
.livecamera .news__item--cover {
  height: 388px;
}
@media (max-width: 767px) {
  .livecamera .news__item--cover {
    height: 200px;
  }
}

.conditions {
  padding: 120px 0;
  background-color: rgba(120, 152, 104, 0.1);
  border-top-left-radius: 32px;
  border-top-right-radius: 32px;
}
.conditions__title {
  margin-bottom: 24px;
}
.conditions__body {
  color: #3F4141;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}
.conditions__body p {
  opacity: 0.84;
  margin: 0;
}
.conditions__cover {
  width: 344px;
  height: 331px;
  border-radius: 16px;
  overflow: hidden;
}
@media (max-width: 991px) {
  .conditions__cover {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .conditions__cover {
    margin-top: 24px;
  }
}
.conditions__cover--img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.selectfloor {
  display: block;
}
@media (min-width: 768px) {
  .selectfloor .page-header {
    margin: 0;
  }
}
.selectfloor__area {
  width: 100%;
  position: relative;
}
.selectfloor__area--cover {
  width: 100%;
  position: absolute;
  z-index: -1;
}
.selectfloor__area a {
  display: block;
  width: 100%;
  height: 100%;
}
.selectfloor__area svg polygon {
  position: relative;
  cursor: pointer;
  fill: transparent;
}
.selectfloor__area svg polygon:hover {
  fill: #789868;
  opacity: 0.6;
}

.m-select-floor__container {
  background-color: #fff;
  box-shadow: 0px 6px 16px 0px rgba(63, 65, 65, 0.04);
  border: 1px solid rgba(63, 65, 65, 0.1);
  border-radius: 16px;
  padding: 20px 0;
}
.m-select-floor li {
  list-style: none;
}
.m-select-floor li.disable {
  opacity: 0.3;
  position: relative;
  margin: 0;
  padding: 0;
}
.m-select-floor li a {
  padding: 8px 0;
  display: block;
  text-decoration: none;
  text-align: center;
  color: #3F4141;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
}

.selecthouse {
  display: block;
}
.selecthouse__selectarea {
  margin-left: 24px;
}
.selecthouse__selectarea--title {
  margin: 0;
  margin-right: 8px;
  color: rgba(63, 65, 65, 0.6);
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}
.selecthouse__selectarea--select {
  cursor: pointer;
  padding-right: 8px;
  background-color: transparent;
  border: none;
  outline: none;
  color: #3F4141;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}
.selecthouse__selectarea--option {
  color: rgba(63, 65, 65, 0.6);
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}
.selecthouse__area {
  width: 100%;
  position: relative;
}
.selecthouse__area--cover {
  width: 100%;
  position: absolute;
  z-index: -1;
}
.selecthouse__area a {
  display: block;
  width: 100%;
  height: 100%;
}
.selecthouse__area--svg {
  position: relative;
}
.selecthouse__area--svg .sold {
  fill: rgba(73, 73, 74, 0.7);
}
.selecthouse__area--svg .reserv {
  fill: rgba(196, 128, 99, 0.8);
}
.selecthouse__area--svg polygon {
  fill: transparent;
}
.selecthouse__area--svg polygon:hover {
  cursor: pointer;
  fill: #719066;
  opacity: 0.7;
}
.selecthouse__area--svg polygon.sold {
  fill: url(#sold_image);
  opacity: 1;
  cursor: auto;
}
.selecthouse__area--svg polygon.reserv {
  fill: url(#reserv_image);
  opacity: 1;
  cursor: auto;
}

.house__otherhouse {
  margin-top: 64px;
  padding: 120px 0;
  background-color: rgba(120, 152, 104, 0.1);
  border-top-left-radius: 32px;
  border-top-right-radius: 32px;
}
@media (max-width: 767px) {
  .house__otherhouse {
    margin-top: 56px;
    background-color: transparent;
    padding: 0;
    margin-bottom: 40px;
  }
}
.house__otherhouse--item {
  padding: 0;
  border: none;
}
@media (max-width: 767px) {
  .house__otherhouse--item {
    padding: 16px;
    border: 1px solid rgba(63, 65, 65, 0.05);
  }
}
.house__otherhouse--cover {
  background-color: #fff;
}
.house__otherhouse--body {
  margin: 0;
}
.house__otherhouse--link {
  text-decoration: none;
  color: #3F4141;
}
.house__otherhouse--desc {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}
.house__otherhouse--desc li {
  margin-top: 8px;
  list-style: none;
  color: rgba(63, 65, 65, 0.64);
  font-size: 14px;
  font-weight: 400;
  line-height: 18.2px;
}
.house__floors {
  padding: 0;
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 991px) and (min-width: 767px) {
  .house__floors {
    right: calc(100% + 30px);
  }
}
@media (max-width: 767px) {
  .house__floors {
    display: none;
  }
}
.house__floors--item {
  padding: 8px 0;
  text-align: center;
  list-style: none;
  display: block;
}
.house__floors--text {
  margin: 0;
  margin-top: 4px;
  display: none;
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
}
.house__floors--link {
  color: rgba(63, 65, 65, 0.6);
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  text-decoration: none;
}
.house__floors--link.active {
  color: #789868;
}
.house__floors--link.active .house__floors--text {
  display: block;
}
.house__floors::before {
  content: "";
  width: 20px;
  height: 20px;
  display: block;
  background-image: url("./../../assets/images/up.svg");
  background-size: 100%;
  margin-bottom: 8px;
}
.house__floors::after {
  content: "";
  width: 20px;
  height: 20px;
  display: block;
  background-image: url("./../../assets/images/down.svg");
  background-size: 100%;
  margin-top: 8px;
}
.house__cover {
  width: 100%;
  padding: 35px 26px;
  margin-bottom: 29px;
  position: relative;
  background-color: #fff;
  box-shadow: 0px 6px 16px 0px rgba(63, 65, 65, 0.04);
  border: 1px solid rgba(63, 65, 65, 0.1);
  border-radius: 16px;
}
.house__cover--change {
  position: absolute;
  top: 24px;
  left: 26px;
  z-index: 1;
}
.house__cover--img {
  max-width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  display: block;
  height: 400px;
}
@media (max-width: 991px) {
  .house__cover--img {
    height: auto;
  }
}
.house__body {
  display: flex;
  flex-direction: column;
  padding: 24px;
  background-color: #fff;
  border: 1px solid rgba(63, 65, 65, 0.1);
  border-radius: 16px;
}
.house__location {
  width: 100px;
  height: 100px;
  background-color: rgba(63, 65, 65, 0.05);
  border-radius: 50%;
  overflow: hidden;
}
@media (max-width: 767px) {
  .house__location {
    width: 62px;
    height: 62px;
  }
}
.house__location--img {
  width: 100%;
  height: 100%;
}
.house__title {
  margin-bottom: 16px;
  color: #3F4141;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
}
.house__info {
  color: rgba(63, 65, 65, 0.5);
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  margin: 0;
  padding: 0;
}
.house__info li {
  margin-bottom: 8px;
  list-style: none;
}
.house__info span {
  color: #3F4141;
  font-weight: 600;
}
.house__price {
  margin-top: 16px;
  padding: 16px 46px 16px 16px;
  background-color: rgba(120, 152, 104, 0.05);
  border-radius: 12px;
}
.house__price--title {
  color: #3F4141;
  opacity: 0.5;
  font-size: 14px;
  font-weight: 400;
  margin: 0;
}
.house__price .switch {
  margin-left: 39px;
  height: 24px;
  background-color: #fff;
}
.house__price .switch__slider {
  z-index: 2;
}
.house__price .switch__text {
  width: 22px;
  height: 22px;
  color: #3F4141;
}
.house__price .switch__slider:before {
  display: flex;
  align-items: center;
  justify-content: center;
  content: "$";
  width: 22px;
  height: 22px;
  top: 1px;
  left: 1px;
  color: #fff;
}
.house__price .switch__input:checked + .switch__slider:before {
  transform: translateX(22px);
  content: "₾";
}
.house__price--text {
  margin: 0;
  margin-top: 12px;
  padding: 0;
  color: #789868;
  font-size: 24px;
  font-weight: 600;
  line-height: 24px;
}
.house__download {
  margin: 0;
  margin-top: 15px;
  padding: 0;
}
.house__download--item {
  margin-bottom: 20px;
  list-style: none;
}
.house__download--title {
  margin: 0;
  color: #3F4141;
  font-size: 14px;
  font-weight: 500;
  line-height: 16.8px;
}
.house__download--link {
  text-decoration: none;
  display: block;
}
.house__download--icon {
  margin-left: 16px;
}
.house__contact {
  width: 100%;
  margin: 0;
  padding: 20px 0;
  border-top: 1px solid rgba(63, 65, 65, 0.05);
  border-bottom: 1px solid rgba(63, 65, 65, 0.05);
}
.house__contact--item {
  list-style: none;
  margin-bottom: 20px;
}
.house__contact--link {
  color: #3F4141;
  font-size: 14px;
  font-weight: 500;
  line-height: 16.8px;
  text-align: left;
  text-decoration: none;
}
.house__contact--icon {
  margin-right: 16px;
}
.house__gegma {
  width: 100%;
}

.switch {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3F4141;
  height: 36px;
  border-radius: 100px;
}
.switch__text {
  width: 43px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  color: #fff;
  cursor: pointer;
}
.switch__input {
  opacity: 0;
  width: 0;
  height: 0;
}
.switch__slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 0.4s;
}
.switch__slider:before {
  content: "";
  width: 43px;
  height: 32px;
  background-color: #789868;
  position: absolute;
  left: 2px;
  top: 2px;
  z-index: 0;
  transition: 0.4s;
}
.switch__round {
  border-radius: 50%;
}
.switch__round:before {
  border-radius: 100px;
}

.switch__input:checked + .switch__slider:before {
  transform: translateX(39px);
  content: "";
}/*# sourceMappingURL=styles.css.map */