<div class="projects">
    <div class="container">
        <div class="section-header projects__header d-flex justify-content-between align-items-center">
            <h1 class="section-title">
                ჩვენი პროექტები
            </h1>
            <div class="projects__header--nav d-flex align-items-center">
                <li class="projects__header--view">
                    ყველა
                </li>
                <div class="projects__slider--btns d-flex align-items-center">
                    <button class="projects__slider--btn projects__slider--prev owl--prev d-flex align-items-center justify-content-center">
                        prev
                    </button>
                    <button class="projects__slider--btn projects__slider--next owl--next d-flex align-items-center justify-content-center">
                        next
                    </button>
                </div>
            </div>
        </div>
        <div class="projects__slider owl-carousel">
            <div class="projects__slider--item">
                <div class="projects__slider--cover">
                    <p class="projects__slider--status">სტატუსი: 90%</p>
                    <img src="./assets/images/slider/slider1.png" class="projects__slider--img"/>
                </div>
                <h1 class="projects__slider--title"> 
                    Pillar Park Dighomi
                </h1>
                <p class="projects__slider--location">
                    თბილისი, დიღმის 8
                </p>
            </div><!-- item end -->
            <div class="projects__slider--item">
                <div class="projects__slider--cover">
                    <p class="projects__slider--status">სტატუსი: 90%</p>
                    <img src="./assets/images/slider/slider1.png" class="projects__slider--img"/>
                </div>
                <h1 class="projects__slider--title"> 
                    Pillar Park Dighomi
                </h1>
                <p class="projects__slider--location">
                    თბილისი, დიღმის 8
                </p>
            </div><!-- item end -->
            <div class="projects__slider--item">
                <div class="projects__slider--cover">
                    <p class="projects__slider--status">სტატუსი: 90%</p>
                    <img src="./assets/images/slider/slider1.png" class="projects__slider--img"/>
                </div>
                <h1 class="projects__slider--title"> 
                    Pillar Park Dighomi
                </h1>
                <p class="projects__slider--location">
                    თბილისი, დიღმის 8
                </p>
            </div><!-- item end -->
        </div>
    </div>
</div>