<header class="header">
    <div class="container">
        <div class="header__container">
            <div class="row">
                <div class="col-6">
                    <div class="header__logo">
                        <img src="./assets/images/logo_white.png" class="imgtosvg" />
                    </div>
                </div>
                <div class="col-6 d-flex justify-content-end align-items-center">
                    <li class="header__order">
                        <a href="" class="header__order--btn d-flex align-items-center">
                            <img src="./assets/images/order_icon.svg" class="header__order--icon"/>
                            <p class="d-none d-md-block">შეუკვეთე ზარი</p>
                        </a>
                    </li>
                    <div class="header__lang">
                        ENG
                    </div>
                    <button class="header__burger">
                        <img src="./assets/images/burger.svg" />
                    </button>
                </div>
            </div>
        </div>
    </div>
</header>