<div class="container d-block d-md-none">
    <div class="projects__list">
        <div class="projects__item">
            <div class="row">
                <div class="col-12">
                    <div class="projects__item--cover">
                        <img src="./assets/images/post.png" />
                    </div>
                </div>
                <div class="col-12">
                    <div class="projects__item--body">
                        <div class="projects__item--head d-flex justify-content-between align-items-start">
                            <div>
                                <h1 class="projects__item--title">ბინა 10</h1>
                            </div>
                        </div>
                        <ul class="house__otherhouse--desc">
                            <li>ბლოკი: A</li>
                            <li>სართული: 24</li>
                            <li>საერთო ფართი: 80მ2</li>
                            <li>ფასი: $104,422 ($105/მ2)</li>
                        </ul>
                        <li class="projects__item--more">
                            <a href="projectsdetail.html" class="projects__item--link">არჩევა</a>
                        </li>
                    </div>
                </div>
            </div>
        </div><!-- item end -->

        <div class="projects__item">
            <div class="row">
                <div class="col-12">
                    <div class="projects__item--cover">
                        <img src="./assets/images/post.png" />
                    </div>
                </div>
                <div class="col-12">
                    <div class="projects__item--body">
                        <div class="projects__item--head d-flex justify-content-between align-items-start">
                            <div>
                                <h1 class="projects__item--title">ბინა 10</h1>
                            </div>
                        </div>
                        <ul class="house__otherhouse--desc">
                            <li>ბლოკი: A</li>
                            <li>სართული: 24</li>
                            <li>საერთო ფართი: 80მ2</li>
                            <li>ფასი: $104,422 ($105/მ2)</li>
                        </ul>
                        <li class="projects__item--more">
                            <a href="projectsdetail.html" class="projects__item--link">არჩევა</a>
                        </li>
                    </div>
                </div>
            </div>
        </div><!-- item end -->
    </div>
</div>