<div class="selecthouse">
  <div class="page-header">
      <div class="container pl-container d-flex justify-content-center justify-content-md-between">
          <h1 class="page-title">აირჩიეთ ბინა</h1>
          <div class="d-none d-md-flex">
            <div class="selecthouse__selectarea d-flex align-items-center">
              <p class="selecthouse__selectarea--title">ბლოკი</p>
              <select class="selecthouse__selectarea--select" >
                <option class="selecthouse__selectarea--option">A</option>
              </select>
            </div>
            <div class="selecthouse__selectarea d-flex align-items-center">
              <p class="selecthouse__selectarea--title">სართული</p>
              <select class="selecthouse__selectarea--select" >
                <option class="selecthouse__selectarea--option">8</option>
              </select>
            </div>
          </div>
      </div>
  </div>
  
  <div class="container pl-container">
    <div class="selecthouse__area d-none d-md-block">
      <img src="./assets/images/projects/satesto-sartuli.png" class="selecthouse__area--cover"/>
    
      <?xml version="1.0" encoding="UTF-8"?>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1034.53 463.82">
        <defs>
          <style>
            .cls-1, .cls-2, .cls-3, .cls-4, .cls-5, .cls-6, .cls-7, .cls-8, .cls-9, .cls-10, .cls-11, .cls-12, .cls-13 {
              fill: none;
            }
  
            .cls-14 {
              letter-spacing: -.01em;
            }
  
            .cls-2 {
              stroke-width: .7px;
            }
  
            .cls-2, .cls-3, .cls-4, .cls-5, .cls-6, .cls-12, .cls-13 {
              stroke-linecap: round;
            }
  
            .cls-2, .cls-6, .cls-7 {
              stroke: #000;
            }
  
            .cls-2, .cls-12, .cls-13 {
              stroke-linejoin: round;
            }
  
            .cls-15 {
              fill: #3f4040;
              stroke-width: .57px;
            }
  
            .cls-15, .cls-16 {
              stroke: #fff;
            }
  
            .cls-15, .cls-16, .cls-3, .cls-4, .cls-5, .cls-6, .cls-7, .cls-8, .cls-9, .cls-10, .cls-11 {
              stroke-miterlimit: 10;
            }
  
            .cls-17 {
              font-size: 7.68px;
            }
  
            .cls-17, .cls-18, .cls-19, .cls-20, .cls-21 {
              fill: #fff;
            }
  
            .cls-17, .cls-19, .cls-21 {
              font-family: FiraGO-Regular, FiraGO;
            }
  
            .cls-22 {
              letter-spacing: -.02em;
            }
  
            .cls-18 {
              font-family: ArialMT, Arial;
            }
  
            .cls-16 {
              font-size: 8.58px;
              stroke-width: .2px;
            }
  
            .cls-23 {
              letter-spacing: -.03em;
            }
  
            .cls-24 {
              fill: #c5c6c6;
            }
  
            .cls-25 {
              fill: #c6c7c8;
            }
  
            .cls-3, .cls-4, .cls-5, .cls-6, .cls-7, .cls-8, .cls-9, .cls-10, .cls-11 {
              stroke-width: .68px;
            }
  
            .cls-3, .cls-11 {
              stroke: #636466;
            }
  
            .cls-4, .cls-10 {
              stroke: #545554;
            }
  
            .cls-5, .cls-8 {
              stroke: #c6c7c8;
            }
  
            .cls-19, .cls-20 {
              font-size: 6.6px;
            }
  
            .cls-26 {
              font-size: 8.45px;
            }
  
            .cls-20 {
              font-family: MyriadPro-Regular, 'Myriad Pro';
            }
  
            .cls-27 {
              letter-spacing: 0em;
            }
  
            .cls-9 {
              stroke: #6fcbdc;
            }
  
            .cls-12 {
              stroke: #959595;
            }
  
            .cls-12, .cls-13 {
              stroke-width: .21px;
            }
  
            .cls-13 {
              stroke: #dad9d8;
            }
  
            .cls-21 {
              font-size: 8px;
            }
          </style>
        </defs>
  
        <g id="Layer_3" data-name="Layer 3">
          <g data-href="house.html" class="selecthouse__area--group active">
            <polygon class="cls-1" points="19.61 51.9 101.64 47.29 100.41 197.59 125.65 197.42 126.23 221.54 100.24 221.54 99.95 414.58 17.58 415.41 19.61 51.9"/>
            <g>
              <g>
                <rect class="cls-15" x="32.61" y="202.48" width="70.05" height="18.09" rx="9.04" ry="9.04"/>
                <text class="cls-21" transform="translate(43.63 213.88) rotate(-.02)"><tspan x="0" y="0">ᲒᲐᲧ</tspan><tspan class="cls-14" x="14.03" y="0">Ი</tspan><tspan class="cls-22" x="18.77" y="0">Დ</tspan><tspan x="25.31" y="0">ᲣᲚᲘᲐ</tspan></text>
              </g>
              <g>
                <rect class="cls-15" x="27.57" y="201.6" width="77.88" height="18.09" rx="9.04" ry="9.04"/>
                <text class="cls-17" transform="translate(33.92 213.17) rotate(-.02)"><tspan x="0" y="0">ᲑᲘᲜᲐ N1 / </tspan></text>
                <text class="cls-18" transform="translate(70.75 213.16) rotate(-.02) scale(.92 1)"><tspan class="cls-16" x="0" y="0">274,9</tspan><tspan class="cls-26" x="21.47" y="0"> </tspan></text>
                <text class="cls-19" transform="translate(92.65 213.16) rotate(-.02) scale(.95 1)"><tspan x="0" y="0">მ</tspan></text>
                <text class="cls-20" transform="translate(96.27 213.16) rotate(-.02) scale(1.1 1)"><tspan x="0" y="0">2</tspan></text>
              </g>
              <g>
                <rect class="cls-15" x="32.41" y="202.6" width="70.05" height="18.09" rx="9.04" ry="9.04"/>
                <text class="cls-21" transform="translate(39.15 214.34) rotate(-.02)"><tspan class="cls-23" x="0" y="0">Დ</tspan><tspan class="cls-27" x="6.46" y="0">ᲐᲯᲐᲕᲨᲜ</tspan><tspan class="cls-14" x="33.9" y="0">Ი</tspan><tspan x="38.64" y="0">ᲚᲘᲐ</tspan></text>
              </g>
            </g>
          </g>
          <g data-href="house.html" class="selecthouse__area--group sold">
            <polygon class="cls-1" points="103.25 224.54 185.51 224.59 187.9 415.65 104.72 415.61 103.25 224.54"/>
            <g>
              <g>
                <rect class="cls-15" x="111.16" y="291.35" width="70.05" height="18.09" rx="9.04" ry="9.04"/>
                <text class="cls-21" transform="translate(122.18 302.75) rotate(-.02)"><tspan x="0" y="0">ᲒᲐᲧ</tspan><tspan class="cls-14" x="14.03" y="0">Ი</tspan><tspan class="cls-22" x="18.77" y="0">Დ</tspan><tspan x="25.31" y="0">ᲣᲚᲘᲐ</tspan></text>
              </g>
              <g>
                <rect class="cls-15" x="108.72" y="290.56" width="77.88" height="18.09" rx="9.04" ry="9.04"/>
                <text class="cls-17" transform="translate(115.07 302.14) rotate(-.02)"><tspan x="0" y="0">ᲑᲘᲜᲐ N1 / </tspan></text>
                <text class="cls-18" transform="translate(151.9 302.12) rotate(-.02) scale(.92 1)"><tspan class="cls-16" x="0" y="0">274,9</tspan><tspan class="cls-26" x="21.47" y="0"> </tspan></text>
                <text class="cls-19" transform="translate(173.8 302.12) rotate(-.02) scale(.95 1)"><tspan x="0" y="0">მ</tspan></text>
                <text class="cls-20" transform="translate(177.42 302.12) rotate(-.02) scale(1.1 1)"><tspan x="0" y="0">2</tspan></text>
              </g>
              <g>
                <rect class="cls-15" x="110.96" y="291.61" width="70.05" height="18.09" rx="9.04" ry="9.04"/>
                <text class="cls-21" transform="translate(117.7 303.34) rotate(-.02)"><tspan class="cls-23" x="0" y="0">Დ</tspan><tspan class="cls-27" x="6.46" y="0">ᲐᲯᲐᲕᲨᲜ</tspan><tspan class="cls-14" x="33.9" y="0">Ი</tspan><tspan x="38.64" y="0">ᲚᲘᲐ</tspan></text>
              </g>
            </g>
          </g>
          <g data-href="house.html" class="selecthouse__area--group reserv">
            <polygon class="cls-1" points="211.85 293.37 274.13 293.29 274.74 224.54 359.67 224.49 359.65 415.67 214.55 415.57 211.85 293.37"/>
            <g>
              <g>
                <rect class="cls-15" x="285.63" y="291.35" width="70.05" height="18.09" rx="9.04" ry="9.04"/>
                <text class="cls-21" transform="translate(296.65 302.75) rotate(-.02)"><tspan x="0" y="0">ᲒᲐᲧ</tspan><tspan class="cls-14" x="14.03" y="0">Ი</tspan><tspan class="cls-22" x="18.77" y="0">Დ</tspan><tspan x="25.31" y="0">ᲣᲚᲘᲐ</tspan></text>
              </g>
              <g>
                <rect class="cls-15" x="278.29" y="290.6" width="77.88" height="18.09" rx="9.04" ry="9.04"/>
                <text class="cls-17" transform="translate(284.64 302.17) rotate(-.02)"><tspan x="0" y="0">ᲑᲘᲜᲐ N1 / </tspan></text>
                <text class="cls-18" transform="translate(321.47 302.16) rotate(-.02) scale(.92 1)"><tspan class="cls-16" x="0" y="0">274,9</tspan><tspan class="cls-26" x="21.47" y="0"> </tspan></text>
                <text class="cls-19" transform="translate(343.37 302.15) rotate(-.02) scale(.95 1)"><tspan x="0" y="0">მ</tspan></text>
                <text class="cls-20" transform="translate(346.99 302.15) rotate(-.02) scale(1.1 1)"><tspan x="0" y="0">2</tspan></text>
              </g>
              <g>
                <rect class="cls-15" x="285.43" y="291.33" width="70.05" height="18.09" rx="9.04" ry="9.04"/>
                <text class="cls-21" transform="translate(292.17 303.06) rotate(-.02)"><tspan class="cls-23" x="0" y="0">Დ</tspan><tspan class="cls-27" x="6.46" y="0">ᲐᲯᲐᲕᲨᲜ</tspan><tspan class="cls-14" x="33.9" y="0">Ი</tspan><tspan x="38.64" y="0">ᲚᲘᲐ</tspan></text>
              </g>
            </g>
          </g>
          <g data-href="house.html" class="selecthouse__area--group active">
            <polygon class="cls-1" points="360.64 36.83 475.47 32.21 473.24 415.79 474.31 450.58 391.66 450.58 391.66 307.98 393.15 154.57 364.58 155.56 363.67 83.77 363.38 77.25 361.19 77.33 360.64 36.83"/>
            <g>
              <g>
                <rect class="cls-15" x="399.44" y="231.4" width="70.05" height="18.09" rx="9.04" ry="9.04"/>
                <text class="cls-21" transform="translate(410.46 242.8) rotate(-.02)"><tspan x="0" y="0">ᲒᲐᲧ</tspan><tspan class="cls-14" x="14.03" y="0">Ი</tspan><tspan class="cls-22" x="18.77" y="0">Დ</tspan><tspan x="25.31" y="0">ᲣᲚᲘᲐ</tspan></text>
              </g>
              <g>
                <rect class="cls-15" x="395.61" y="230.27" width="77.88" height="18.09" rx="9.04" ry="9.04"/>
                <text class="cls-17" transform="translate(401.96 241.84) rotate(-.02)"><tspan x="0" y="0">ᲑᲘᲜᲐ N1 / </tspan></text>
                <text class="cls-18" transform="translate(438.79 241.83) rotate(-.02) scale(.92 1)"><tspan class="cls-16" x="0" y="0">274,9</tspan><tspan class="cls-26" x="21.47" y="0"> </tspan></text>
                <text class="cls-19" transform="translate(460.69 241.82) rotate(-.02) scale(.95 1)"><tspan x="0" y="0">მ</tspan></text>
                <text class="cls-20" transform="translate(464.31 241.82) rotate(-.02) scale(1.1 1)"><tspan x="0" y="0">2</tspan></text>
              </g>
              <g>
                <rect class="cls-15" x="399.24" y="231.87" width="70.05" height="18.09" rx="9.04" ry="9.04"/>
                <text class="cls-21" transform="translate(405.98 243.61) rotate(-.02)"><tspan class="cls-23" x="0" y="0">Დ</tspan><tspan class="cls-27" x="6.46" y="0">ᲐᲯᲐᲕᲨᲜ</tspan><tspan class="cls-14" x="33.9" y="0">Ი</tspan><tspan x="38.64" y="0">ᲚᲘᲐ</tspan></text>
              </g>
            </g>
          </g>
          <g data-href="house.html" class="selecthouse__area--group active">
            <polygon class="cls-1" points="559.66 275.98 582.56 276.32 582.68 299.15 559.85 299.19 561.19 451.05 479.18 450.72 480.67 46.49 480.23 31.83 559.69 28.45 559.66 275.98"/>
            <g>
              <g>
                <rect class="cls-15" x="486.63" y="232.48" width="70.05" height="18.09" rx="9.04" ry="9.04"/>
                <text class="cls-21" transform="translate(497.65 243.89) rotate(-.02)"><tspan x="0" y="0">ᲒᲐᲧ</tspan><tspan class="cls-14" x="14.03" y="0">Ი</tspan><tspan class="cls-22" x="18.77" y="0">Დ</tspan><tspan x="25.31" y="0">ᲣᲚᲘᲐ</tspan></text>
              </g>
              <g>
                <rect class="cls-15" x="484.19" y="231.59" width="77.88" height="18.09" rx="9.04" ry="9.04"/>
                <text class="cls-17" transform="translate(490.53 243.17) rotate(-.02)"><tspan x="0" y="0">ᲑᲘᲜᲐ N1 / </tspan></text>
                <text class="cls-18" transform="translate(527.36 243.16) rotate(-.02) scale(.92 1)"><tspan class="cls-16" x="0" y="0">274,9</tspan><tspan class="cls-26" x="21.47" y="0"> </tspan></text>
                <text class="cls-19" transform="translate(549.26 243.15) rotate(-.02) scale(.95 1)"><tspan x="0" y="0">მ</tspan></text>
                <text class="cls-20" transform="translate(552.89 243.15) rotate(-.02) scale(1.1 1)"><tspan x="0" y="0">2</tspan></text>
              </g>
              <g>
                <rect class="cls-15" x="486.43" y="232.96" width="70.05" height="18.09" rx="9.04" ry="9.04"/>
                <text class="cls-21" transform="translate(493.17 244.7) rotate(-.02)"><tspan class="cls-23" x="0" y="0">Დ</tspan><tspan class="cls-27" x="6.46" y="0">ᲐᲯᲐᲕᲨᲜ</tspan><tspan class="cls-14" x="33.9" y="0">Ი</tspan><tspan x="38.64" y="0">ᲚᲘᲐ</tspan></text>
              </g>
            </g>
          </g>
          <g data-href="house.html" class="selecthouse__area--group active">
            <polygon class="cls-1" points="562.79 302.77 647.73 302.82 647.6 450.91 564.09 450.87 562.79 302.77"/>
            <g>
              <g>
                <rect class="cls-15" x="573.69" y="352.27" width="70.05" height="18.09" rx="9.04" ry="9.04"/>
                <text class="cls-21" transform="translate(584.71 363.68) rotate(-.02)"><tspan x="0" y="0">ᲒᲐᲧ</tspan><tspan class="cls-14" x="14.03" y="0">Ი</tspan><tspan class="cls-22" x="18.77" y="0">Დ</tspan><tspan x="25.31" y="0">ᲣᲚᲘᲐ</tspan></text>
              </g>
              <g>
                <rect class="cls-15" x="569.33" y="351.07" width="77.88" height="18.09" rx="9.04" ry="9.04"/>
                <text class="cls-17" transform="translate(575.67 362.64) rotate(-.02)"><tspan x="0" y="0">ᲑᲘᲜᲐ N1 / </tspan></text>
                <text class="cls-18" transform="translate(612.5 362.63) rotate(-.02) scale(.92 1)"><tspan class="cls-16" x="0" y="0">274,9</tspan><tspan class="cls-26" x="21.47" y="0"> </tspan></text>
                <text class="cls-19" transform="translate(634.4 362.62) rotate(-.02) scale(.95 1)"><tspan x="0" y="0">მ</tspan></text>
                <text class="cls-20" transform="translate(638.02 362.62) rotate(-.02) scale(1.1 1)"><tspan x="0" y="0">2</tspan></text>
              </g>
              <g>
                <rect class="cls-15" x="573.63" y="352.53" width="70.05" height="18.09" rx="9.04" ry="9.04"/>
                <text class="cls-21" transform="translate(580.37 364.27) rotate(-.02)"><tspan class="cls-23" x="0" y="0">Დ</tspan><tspan class="cls-27" x="6.46" y="0">ᲐᲯᲐᲕᲨᲜ</tspan><tspan class="cls-14" x="33.9" y="0">Ი</tspan><tspan x="38.64" y="0">ᲚᲘᲐ</tspan></text>
              </g>
            </g>
          </g>
          <g data-href="house.html" class="selecthouse__area--group active">
            <polygon class="cls-1" points="562.85 28.21 678.33 23.25 675.33 155.81 644.78 155.77 647.16 272.29 563.16 272.07 562.85 28.21"/>
            <g>
              <g>
                <rect class="cls-15" x="573.69" y="203.52" width="70.05" height="18.09" rx="9.04" ry="9.04"/>
                <text class="cls-21" transform="translate(584.71 214.93) rotate(-.02)"><tspan x="0" y="0">ᲒᲐᲧ</tspan><tspan class="cls-14" x="14.03" y="0">Ი</tspan><tspan class="cls-22" x="18.77" y="0">Დ</tspan><tspan x="25.31" y="0">ᲣᲚᲘᲐ</tspan></text>
              </g>
              <g>
                <rect class="cls-15" x="569.85" y="202.67" width="77.88" height="18.09" rx="9.04" ry="9.04"/>
                <text class="cls-17" transform="translate(576.2 214.24) rotate(-.02)"><tspan x="0" y="0">ᲑᲘᲜᲐ N1 / </tspan></text>
                <text class="cls-18" transform="translate(613.03 214.23) rotate(-.02) scale(.92 1)"><tspan class="cls-16" x="0" y="0">274,9</tspan><tspan class="cls-26" x="21.47" y="0"> </tspan></text>
                <text class="cls-19" transform="translate(634.93 214.22) rotate(-.02) scale(.95 1)"><tspan x="0" y="0">მ</tspan></text>
                <text class="cls-20" transform="translate(638.55 214.22) rotate(-.02) scale(1.1 1)"><tspan x="0" y="0">2</tspan></text>
              </g>
              <g>
                <rect class="cls-15" x="573.63" y="203.78" width="70.05" height="18.09" rx="9.04" ry="9.04"/>
                <text class="cls-21" transform="translate(580.37 215.52) rotate(-.02)"><tspan class="cls-23" x="0" y="0">Დ</tspan><tspan class="cls-27" x="6.46" y="0">ᲐᲯᲐᲕᲨᲜ</tspan><tspan class="cls-14" x="33.9" y="0">Ი</tspan><tspan x="38.64" y="0">ᲚᲘᲐ</tspan></text>
              </g>
            </g>
          </g>
          <g data-href="house.html" class="selecthouse__area--group active">
            <polygon class="cls-1" points="682.06 23.54 822.09 17.76 846.2 22.54 847.11 194.31 679.43 194.33 682.06 23.54"/>
            <g>
              <g>
                <rect class="cls-15" x="736.9" y="130.64" width="70.05" height="18.09" rx="9.04" ry="9.04"/>
                <text class="cls-21" transform="translate(747.92 142.05) rotate(-.02)"><tspan x="0" y="0">ᲒᲐᲧ</tspan><tspan class="cls-14" x="14.03" y="0">Ი</tspan><tspan class="cls-22" x="18.77" y="0">Დ</tspan><tspan x="25.31" y="0">ᲣᲚᲘᲐ</tspan></text>
              </g>
              <g>
                <rect class="cls-15" x="732.78" y="128.96" width="77.88" height="18.09" rx="9.04" ry="9.04"/>
                <text class="cls-17" transform="translate(739.13 140.53) rotate(-.02)"><tspan x="0" y="0">ᲑᲘᲜᲐ N1 / </tspan></text>
                <text class="cls-18" transform="translate(775.96 140.52) rotate(-.02) scale(.92 1)"><tspan class="cls-16" x="0" y="0">274,9</tspan><tspan class="cls-26" x="21.47" y="0"> </tspan></text>
                <text class="cls-19" transform="translate(797.86 140.51) rotate(-.02) scale(.95 1)"><tspan x="0" y="0">მ</tspan></text>
                <text class="cls-20" transform="translate(801.48 140.51) rotate(-.02) scale(1.1 1)"><tspan x="0" y="0">2</tspan></text>
              </g>
              <g>
                <rect class="cls-15" x="736.98" y="130.35" width="70.05" height="18.09" rx="9.04" ry="9.04"/>
                <text class="cls-21" transform="translate(743.72 142.09) rotate(-.02)"><tspan class="cls-23" x="0" y="0">Დ</tspan><tspan class="cls-27" x="6.46" y="0">ᲐᲯᲐᲕᲨᲜ</tspan><tspan class="cls-14" x="33.9" y="0">Ი</tspan><tspan x="38.64" y="0">ᲚᲘᲐ</tspan></text>
              </g>
            </g>
          </g>
          <g data-href="house.html" class="selecthouse__area--group active">
            <polygon class="cls-1" points="850.89 22.59 933.04 38.44 935.67 194.38 850.87 194.25 850.89 22.59"/>
            <g>
              <g>
                <rect class="cls-15" x="858.61" y="130.23" width="70.05" height="18.09" rx="9.04" ry="9.04"/>
                <text class="cls-21" transform="translate(869.63 141.63) rotate(-.02)"><tspan x="0" y="0">ᲒᲐᲧ</tspan><tspan class="cls-14" x="14.03" y="0">Ი</tspan><tspan class="cls-22" x="18.77" y="0">Დ</tspan><tspan x="25.31" y="0">ᲣᲚᲘᲐ</tspan></text>
              </g>
              <g>
                <rect class="cls-15" x="855.61" y="129.24" width="77.88" height="18.09" rx="9.04" ry="9.04"/>
                <text class="cls-17" transform="translate(861.96 140.81) rotate(-.02)"><tspan x="0" y="0">ᲑᲘᲜᲐ N1 / </tspan></text>
                <text class="cls-18" transform="translate(898.79 140.8) rotate(-.02) scale(.92 1)"><tspan class="cls-16" x="0" y="0">274,9</tspan><tspan class="cls-26" x="21.47" y="0"> </tspan></text>
                <text class="cls-19" transform="translate(920.69 140.79) rotate(-.02) scale(.95 1)"><tspan x="0" y="0">მ</tspan></text>
                <text class="cls-20" transform="translate(924.31 140.79) rotate(-.02) scale(1.1 1)"><tspan x="0" y="0">2</tspan></text>
              </g>
              <g>
                <rect class="cls-15" x="858.41" y="130.21" width="70.05" height="18.09" rx="9.04" ry="9.04"/>
                <text class="cls-21" transform="translate(865.15 141.95) rotate(-.02)"><tspan class="cls-23" x="0" y="0">Დ</tspan><tspan class="cls-27" x="6.46" y="0">ᲐᲯᲐᲕᲨᲜ</tspan><tspan class="cls-14" x="33.9" y="0">Ი</tspan><tspan x="38.64" y="0">ᲚᲘᲐ</tspan></text>
              </g>
            </g>
          </g>
          <g data-href="house.html" class="selecthouse__area--group active">
            <polygon class="cls-1" points="936.57 39.14 1018.79 55.12 1021.25 345.39 960.11 415.86 937.81 415.9 936.57 39.14"/>
            <g>
              <g>
                <rect class="cls-15" x="943.85" y="202.88" width="70.05" height="18.09" rx="9.04" ry="9.04"/>
                <text class="cls-21" transform="translate(954.87 214.28) rotate(-.02)"><tspan x="0" y="0">ᲒᲐᲧ</tspan><tspan class="cls-14" x="14.03" y="0">Ი</tspan><tspan class="cls-22" x="18.77" y="0">Დ</tspan><tspan x="25.31" y="0">ᲣᲚᲘᲐ</tspan></text>
              </g>
              <g>
                <rect class="cls-15" x="936.87" y="201.76" width="77.88" height="18.09" rx="9.04" ry="9.04"/>
                <text class="cls-17" transform="translate(943.22 213.33) rotate(-.02)"><tspan x="0" y="0">ᲑᲘᲜᲐ N1 / </tspan></text>
                <text class="cls-18" transform="translate(980.05 213.32) rotate(-.02) scale(.92 1)"><tspan class="cls-16" x="0" y="0">274,9</tspan><tspan class="cls-26" x="21.47" y="0"> </tspan></text>
                <text class="cls-19" transform="translate(1001.95 213.32) rotate(-.02) scale(.95 1)"><tspan x="0" y="0">მ</tspan></text>
                <text class="cls-20" transform="translate(1005.57 213.31) rotate(-.02) scale(1.1 1)"><tspan x="0" y="0">2</tspan></text>
              </g>
              <g>
                <rect class="cls-15" x="943.65" y="203.24" width="70.05" height="18.09" rx="9.04" ry="9.04"/>
                <text class="cls-21" transform="translate(950.39 214.98) rotate(-.02)"><tspan class="cls-23" x="0" y="0">Დ</tspan><tspan class="cls-27" x="6.46" y="0">ᲐᲯᲐᲕᲨᲜ</tspan><tspan class="cls-14" x="33.9" y="0">Ი</tspan><tspan x="38.64" y="0">ᲚᲘᲐ</tspan></text>
              </g>
            </g>
          </g>
          <g data-href="house.html" class="selecthouse__area--group active">
            <polygon class="cls-1" points="853.34 224.51 935.65 224.49 934.23 415.92 850.84 415.85 853.34 224.51"/>
            <g>
              <g>
                <rect class="cls-15" x="859.1" y="291.73" width="70.05" height="18.09" rx="9.04" ry="9.04"/>
                <text class="cls-21" transform="translate(870.12 303.13) rotate(-.02)"><tspan x="0" y="0">ᲒᲐᲧ</tspan><tspan class="cls-14" x="14.03" y="0">Ი</tspan><tspan class="cls-22" x="18.77" y="0">Დ</tspan><tspan x="25.31" y="0">ᲣᲚᲘᲐ</tspan></text>
              </g>
              <g>
                <rect class="cls-15" x="857.01" y="290.28" width="77.88" height="18.09" rx="9.04" ry="9.04"/>
                <text class="cls-17" transform="translate(863.36 301.86) rotate(-.02)"><tspan x="0" y="0">ᲑᲘᲜᲐ N1 / </tspan></text>
                <text class="cls-18" transform="translate(900.18 301.85) rotate(-.02) scale(.92 1)"><tspan class="cls-16" x="0" y="0">274,9</tspan><tspan class="cls-26" x="21.47" y="0"> </tspan></text>
                <text class="cls-19" transform="translate(922.09 301.84) rotate(-.02) scale(.95 1)"><tspan x="0" y="0">მ</tspan></text>
                <text class="cls-20" transform="translate(925.71 301.84) rotate(-.02) scale(1.1 1)"><tspan x="0" y="0">2</tspan></text>
              </g>
              <g>
                <rect class="cls-15" x="859.11" y="291.82" width="70.05" height="18.09" rx="9.04" ry="9.04"/>
                <text class="cls-21" transform="translate(865.85 303.55) rotate(-.02)"><tspan class="cls-23" x="0" y="0">Დ</tspan><tspan class="cls-27" x="6.46" y="0">ᲐᲯᲐᲕᲨᲜ</tspan><tspan class="cls-14" x="33.9" y="0">Ი</tspan><tspan x="38.64" y="0">ᲚᲘᲐ</tspan></text>
              </g>
            </g>
          </g>
          <g data-href="house.html" class="selecthouse__area--group active">
            <polygon class="cls-1" points="679.17 224.52 764.05 224.56 764.13 293.81 826.84 293.41 824.07 415.57 679.36 415.46 679.17 224.52"/>
            <g>
              <g>
                <rect class="cls-15" x="692.88" y="291.73" width="70.05" height="18.09" rx="9.04" ry="9.04"/>
                <text class="cls-21" transform="translate(703.9 303.13) rotate(-.02)"><tspan x="0" y="0">ᲒᲐᲧ</tspan><tspan class="cls-14" x="14.03" y="0">Ი</tspan><tspan class="cls-22" x="18.77" y="0">Დ</tspan><tspan x="25.31" y="0">ᲣᲚᲘᲐ</tspan></text>
              </g>
              <g>
                <rect class="cls-15" x="692.33" y="290.77" width="77.88" height="18.09" rx="9.04" ry="9.04"/>
                <text class="cls-17" transform="translate(698.68 302.35) rotate(-.02)"><tspan x="0" y="0">ᲑᲘᲜᲐ N1 / </tspan></text>
                <text class="cls-18" transform="translate(735.5 302.33) rotate(-.02) scale(.92 1)"><tspan class="cls-16" x="0" y="0">274,9</tspan><tspan class="cls-26" x="21.47" y="0"> </tspan></text>
                <text class="cls-19" transform="translate(757.41 302.33) rotate(-.02) scale(.95 1)"><tspan x="0" y="0">მ</tspan></text>
                <text class="cls-20" transform="translate(761.03 302.33) rotate(-.02) scale(1.1 1)"><tspan x="0" y="0">2</tspan></text>
              </g>
              <g>
                <rect class="cls-15" x="692.69" y="291.82" width="70.05" height="18.09" rx="9.04" ry="9.04"/>
                <text class="cls-21" transform="translate(699.43 303.55) rotate(-.02)"><tspan class="cls-23" x="0" y="0">Დ</tspan><tspan class="cls-27" x="6.46" y="0">ᲐᲯᲐᲕᲨᲜ</tspan><tspan class="cls-14" x="33.9" y="0">Ი</tspan><tspan x="38.64" y="0">ᲚᲘᲐ</tspan></text>
              </g>
            </g>
          </g>
          <g data-href="house.html" class="selecthouse__area--group active">
            <polygon class="cls-1" points="106.11 47.87 188.1 44.07 188.13 194.37 103.25 194.4 106.11 47.87"/>
            <g>
              <g>
                <rect class="cls-15" x="112" y="112.24" width="70.05" height="18.09" rx="9.04" ry="9.04"/>
                <text class="cls-21" transform="translate(123.02 123.64) rotate(-.02)"><tspan x="0" y="0">ᲒᲐᲧ</tspan><tspan class="cls-14" x="14.03" y="0">Ი</tspan><tspan class="cls-22" x="18.77" y="0">Დ</tspan><tspan x="25.31" y="0">ᲣᲚᲘᲐ</tspan></text>
              </g>
              <g>
                <rect class="cls-15" x="110.43" y="109.83" width="77.88" height="18.09" rx="9.04" ry="9.04"/>
                <text class="cls-17" transform="translate(116.78 121.4) rotate(-.02)"><tspan x="0" y="0">ᲑᲘᲜᲐ N1 / </tspan></text>
                <text class="cls-18" transform="translate(153.61 121.39) rotate(-.02) scale(.92 1)"><tspan class="cls-16" x="0" y="0">274,9</tspan><tspan class="cls-26" x="21.47" y="0"> </tspan></text>
                <text class="cls-19" transform="translate(175.51 121.38) rotate(-.02) scale(.95 1)"><tspan x="0" y="0">მ</tspan></text>
                <text class="cls-20" transform="translate(179.13 121.38) rotate(-.02) scale(1.1 1)"><tspan x="0" y="0">2</tspan></text>
              </g>
              <g>
                <rect class="cls-15" x="111.31" y="112.11" width="70.05" height="18.09" rx="9.04" ry="9.04"/>
                <text class="cls-21" transform="translate(118.05 123.85) rotate(-.02)"><tspan class="cls-23" x="0" y="0">Დ</tspan><tspan class="cls-27" x="6.46" y="0">ᲐᲯᲐᲕᲨᲜ</tspan><tspan class="cls-14" x="33.9" y="0">Ი</tspan><tspan x="38.64" y="0">ᲚᲘᲐ</tspan></text>
              </g>
            </g>
          </g>
          <g data-href="house.html" class="selecthouse__area--group active">
            <polygon class="cls-1" points="191.64 43.95 357.16 36.9 357.04 77.74 356.9 86.76 360.89 86.67 359.65 194.26 191.63 194.31 191.64 43.95"/>
            <g>
              <g>
                <rect class="cls-15" x="245.48" y="112.24" width="70.05" height="18.09" rx="9.04" ry="9.04"/>
                <text class="cls-21" transform="translate(256.5 123.64) rotate(-.02)"><tspan x="0" y="0">ᲒᲐᲧ</tspan><tspan class="cls-14" x="14.03" y="0">Ი</tspan><tspan class="cls-22" x="18.77" y="0">Დ</tspan><tspan x="25.31" y="0">ᲣᲚᲘᲐ</tspan></text>
              </g>
              <g>
                <rect class="cls-15" x="241.26" y="110.86" width="77.88" height="18.09" rx="9.04" ry="9.04"/>
                <text class="cls-17" transform="translate(247.61 122.43) rotate(-.02)"><tspan x="0" y="0">ᲑᲘᲜᲐ N1 / </tspan></text>
                <text class="cls-18" transform="translate(284.44 122.42) rotate(-.02) scale(.92 1)"><tspan class="cls-16" x="0" y="0">274,9</tspan><tspan class="cls-26" x="21.47" y="0"> </tspan></text>
                <text class="cls-19" transform="translate(306.34 122.42) rotate(-.02) scale(.95 1)"><tspan x="0" y="0">მ</tspan></text>
                <text class="cls-20" transform="translate(309.96 122.42) rotate(-.02) scale(1.1 1)"><tspan x="0" y="0">2</tspan></text>
              </g>
              <g>
                <rect class="cls-15" x="245.48" y="112.11" width="70.05" height="18.09" rx="9.04" ry="9.04"/>
                <text class="cls-21" transform="translate(252.22 123.85) rotate(-.02)"><tspan class="cls-23" x="0" y="0">Დ</tspan><tspan class="cls-27" x="6.46" y="0">ᲐᲯᲐᲕᲨᲜ</tspan><tspan class="cls-14" x="33.9" y="0">Ი</tspan><tspan x="38.64" y="0">ᲚᲘᲐ</tspan></text>
              </g>
            </g>
          </g>
        </g>
      </svg>
    </div>
  </div>
  <div class="container pl-container">
    <div class="house__location d-none d-lg-block">
      <img src="./assets/images/house_location.png" class="house__location--img"/>
    </div>
  </div>
</div>